interactions:
- request:
    body: '{"name": "iScEcSJY"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/TestSupportProject/_apis/git/repositories
  response:
    body:
      string: '{"id":"f4e6c356-1675-46f5-b148-2ebc5331d84e","name":"iScEcSJY","url":"https://dev.azure.com/bhaveshbhati900130/de1b0c58-f8b4-47fe-9acd-91c783afee87/_apis/git/repositories/f4e6c356-1675-46f5-b148-2ebc5331d84e","project":{"id":"de1b0c58-f8b4-47fe-9acd-91c783afee87","name":"TestSupportProject","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/de1b0c58-f8b4-47fe-9acd-91c783afee87","state":"wellFormed","revision":328,"visibility":"private","lastUpdateTime":"2024-12-21T04:46:46.133Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/TestSupportProject/_git/iScEcSJY","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/TestSupportProject/iScEcSJY","webUrl":"https://dev.azure.com/bhaveshbhati900130/TestSupportProject/_git/iScEcSJY","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 349cdc0e-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349cdc0e-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/TestSupportProject/_apis/git/repositories/f4e6c356-1675-46f5-b148-2ebc5331d84e/importRequests
  response:
    body:
      string: '{"importRequestId":23,"repository":{"id":"f4e6c356-1675-46f5-b148-2ebc5331d84e","name":"iScEcSJY","url":"https://dev.azure.com/bhaveshbhati900130/de1b0c58-f8b4-47fe-9acd-91c783afee87/_apis/git/repositories/f4e6c356-1675-46f5-b148-2ebc5331d84e","project":{"id":"de1b0c58-f8b4-47fe-9acd-91c783afee87","name":"TestSupportProject","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/de1b0c58-f8b4-47fe-9acd-91c783afee87","state":"wellFormed","revision":328,"visibility":"private","lastUpdateTime":"2024-12-21T04:46:46.133Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/TestSupportProject/_git/iScEcSJY","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/TestSupportProject/iScEcSJY","webUrl":"https://dev.azure.com/bhaveshbhati900130/TestSupportProject/_git/iScEcSJY","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/TestSupportProject/_apis/git/repositories/f4e6c356-1675-46f5-b148-2ebc5331d84e/importRequests/23"},"repository":{"href":"https://dev.azure.com/bhaveshbhati900130/de1b0c58-f8b4-47fe-9acd-91c783afee87/_apis/git/repositories/f4e6c356-1675-46f5-b148-2ebc5331d84e"}},"url":"https://dev.azure.com/bhaveshbhati900130/TestSupportProject/_apis/git/repositories/f4e6c356-1675-46f5-b148-2ebc5331d84e/importRequests/23"}'
    headers:
      activityid:
      - 8dc721b6-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc721b6-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/TestSupportProject/_apis/git/repositories/f4e6c356-1675-46f5-b148-2ebc5331d84e/importRequests/23
  response:
    body:
      string: '{"importRequestId":23,"repository":{"id":[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/TestSupportProject/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"f4e6c356-1675-46f5-b148-2ebc5331d84e","name":"iScEcSJY","url":"https://dev.azure.com/bhaveshbhati900130/de1b0c58-f8b4-47fe-9acd-91c783afee87/_apis/git/repositories/f4e6c356-1675-46f5-b148-2ebc5331d84e","project":{"id":"de1b0c58-f8b4-47fe-9acd-91c783afee87","name":"TestSupportProject","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/de1b0c58-f8b4-47fe-9acd-91c783afee87","state":"wellFormed","revision":328,"visibility":"private","lastUpdateTime":"2024-12-21T04:46:46.133Z"},"defaultBranch":"refs/heads/main","size":1602,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/TestSupportProject/_git/iScEcSJY","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/TestSupportProject/iScEcSJY","webUrl":"https://dev.azure.com/bhaveshbhati900130/TestSupportProject/_git/iScEcSJY","isDisabled":false,"isInMaintenance":false},{"id":"609e8a1d-240b-44d2-8eaa-68362259a491","name":"TestSupportProject","url":"https://dev.azure.com/bhaveshbhati900130/de1b0c58-f8b4-47fe-9acd-91c783afee87/_apis/git/repositories/609e8a1d-240b-44d2-8eaa-68362259a491","project":{"id":"de1b0c58-f8b4-47fe-9acd-91c783afee87","name":"TestSupportProject","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/de1b0c58-f8b4-47fe-9acd-91c783afee87","state":"wellFormed","revision":328,"visibility":"private","lastUpdateTime":"2024-12-21T04:46:46.133Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/TestSupportProject/_git/TestSupportProject","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/TestSupportProject/TestSupportProject","webUrl":"https://dev.azure.com/bhaveshbhati900130/TestSupportProject/_git/TestSupportProject","isDisabled":false,"isInMaintenance":false}],"count":2}'
    headers:
      activityid:
      - 349cd9c1-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349cd9c1-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/TestSupportProject/_apis/git/repositories/f4e6c356-1675-46f5-b148-2ebc5331d84e
  response:
    body:
      string: ''
    headers:
      activityid:
      - 349cd9a0-683d-4bb0-8043-24b041d01fb1
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349cd9a0-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 204
      message: No Content
[...]
