interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_apis/git/repositories/PullRequestLiveTest/pullRequests?searchCriteria.includeLinks=False
  response:
    body:
      string: '{"value":[{"repository":{"id":"aca0d31c-75aa-4940-b316-123a1b40f3b2","name":"PullRequestLiveTest","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/aca0d31c-75aa-4940-b316-123a1b40f3b2","project":{"id":"22ffdd4f-50ca-4b48-a296-32c194e1c202","name":"PullRequestLiveTest","state":"unchanged","visibility":"unchanged","lastUpdateTime":"0001-01-01T00:00:00"}},"pullRequestId":4,"codeReviewId":4,"status":"active","createdBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_api/_common/identityImage?id=b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"creationDate":"2024-12-21T05:00:46.0055845Z","title":"Updated
        README.md","description":"Updated README.md","sourceRefName":"refs/heads/test-branch","targetRefName":"refs/heads/main","mergeStatus":"succeeded","isDraft":false,"mergeId":"fa5730f5-b47d-4ba0-980d-1c2a608440f7","lastMergeSourceCommit":{"commitId":"7de365ceb5fd7d6afe5d62039186f7ab7c71caf4","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/aca0d31c-75aa-4940-b316-123a1b40f3b2/commits/7de365ceb5fd7d6afe5d62039186f7ab7c71caf4"},"lastMergeTargetCommit":{"commitId":"249d626a3395e0b1eeeea393f38ea7a2d9cf306e","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/aca0d31c-75aa-4940-b316-123a1b40f3b2/commits/249d626a3395e0b1eeeea393f38ea7a2d9cf306e"},"lastMergeCommit":{"commitId":"a2790ca2edb112d342f8da0819e48b7ae0486ff6","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/aca0d31c-75aa-4940-b316-123a1b40f3b2/commits/a2790ca2edb112d342f8da0819e48b7ae0486ff6"},"reviewers":[],"url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/aca0d31c-75aa-4940-b316-123a1b40f3b2/pullRequests/4","supportsIterations":true},{"repository":{"id":"aca0d31c-75aa-4940-b316-123a1b40f3b2","name":"PullRequestLiveTest","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/aca0d31c-75aa-4940-b316-123a1b40f3b2","project":{"id":"22ffdd4f-50ca-4b48-a296-32c194e1c202","name":"PullRequestLiveTest","state":"unchanged","visibility":"unchanged","lastUpdateTime":"0001-01-01T00:00:00"}},"pullRequestId":3,"codeReviewId":3,"status":"active","createdBy":{"displayName":"Bhavesh
 [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/git/pullRequests/3
  response:
    body:
      string: '{"repository":{"id":"aca0d31c-75aa-4940-b316-123a1b40f3b2","name":"PullRequestLiveTest","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/aca0d31c-75aa-4940-b316-123a1b40f3b2","project":{"id":"22ffdd4f-50ca-4b48-a296-32c194e1c202","name":"PullRequestLiveTest","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/22ffdd4f-50ca-4b48-a296-32c194e1c202","state":"wellFormed","revision":346,"visibility":"private","lastUpdateTime":"2024-12-21T04:50:47.54Z"},"size":728,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_git/PullRequestLiveTest","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/PullRequestLiveTest/PullRequestLiveTest","webUrl":"https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_git/PullRequestLiveTest","isDisabled":false,"isInMaintenance":false},"pullRequestId":3,"codeReviewId":3,"status":"active","createdBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","i[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/policy/evaluations?artifactId=vstfs%3A%2F%2F%2FCodeReview%2FCodeReviewId%2F22ffdd4f-50ca-4b48-a296-32c194e1c202%2F3
  response:
    body:
      string: '{"value":[{"configuration":{"createdBy":{"displayName":"Bhavesh Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_api/_common/identityImage?id=b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"createdDate":"2024-12-21T05:17:55.916504Z","isEnabled":true,"isBlocking":false,"isDeleted":false,"settings":{"buildDefinitionId":5,"queueOnSourceUpdateOnly":true,"manualQueueOnly":true,"displayName":null,"validDuration":720.0,"scope":[{"refName":"refs/heads/main","matchKind":"Exact","repositoryId":"aca0d31c-75aa-4940-b316-123a1b40f3b2"}]},"isEnterpriseManaged":false,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/policy/configurations/7"},"policyType":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/policy/types/0609b952-1397-4640-95ec-e00a01b2c241"}},"revision":1,"id":7,"url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/policy/configurations/7","type":{"id":"0609b952-1397-4640-95ec-e00a01b2c241","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/policy/types/0609b952-1397-4640-95ec-e00a01b2c241","displayName":"Build"}},"artifactId":"vstfs:///CodeReview/CodeReviewId/22ffdd4f-50ca-4b48-a296-32c194e1c202%2f3","evaluationId":"ee02a134-ee66-4222-86bc-7b3a4ced259f","startedDate":"2024-12-21T10:38:47.1660017Z","completedDate":"2024-12-21T10:38:50.400391Z","status":"rejected","context":{"lastMergeCommitId":"af39012397f19c99c109af82226272775fbd2781","lastMergeSourceCommitId":"45280748e521737e9be67b6cf40a384b527aaacf","lastMergeTargetCommitId":"249d626a3395e0b1eeeea393f38ea7a2d9cf306e","buildId":21,"buildDefinitionId":5,"buildDefinitionName":"PullRequestLiveTest","buildIsNotCurrent":false,"buildStartedUtc":"2024-12-21T10:38:47.1531154Z","isExpired":false,"buildAfterMerge":false,"wasAutoRequeued":false,"buildOutputPreview":{"jobName":"Job","taskName":"Job","errors":[{"lineNumber":null,"message":"No
        hosted parallelism has been purchased or granted. To request a free parallelism
        grant, please fill out the following form https://aka.ms/azpipelines-parallelism-request"}]}}}],"count":1}'
    headers:
      activityid:
      - f477585b-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f477585b-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/policy/evaluations/ee02a134-ee66-4222-86bc-7b3a4ced259f
  response:
    body:
      string: '{"configuration":{"createdBy":{"displ[...]
[...]
- request:
    body: '[{"op": 0, "path": "/relations/-", "value": {"attributes": {"name": "Pull
      Request"}, "rel": "ArtifactLink", "url": "vstfs:///Git/PullRequestId/22ffdd4f-50ca-4b48-a296-32c194e1c202%2Faca0d31c-75aa-4940-b316-123a1b40f3b2%2F3"}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/13
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"Relation already exists.","typeName":"Microsoft.Azure.Boards.WebApi.Common.RelationAlreadyExistsException,
        Microsoft.Azure.Boards.WebApi.Common","typeKey":"RelationAlreadyExistsException","errorCode":0,"eventId":3000}'
    headers:
      activityid:
      - 5c7f2174-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7f2174-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 400
      message: Bad Request
- request:
    body: '[{"op": 0, "path": "/relations/-", "value": {"attributes": {"name": "Pull
      Request"}, "rel": "ArtifactLink", "url": "vstfs:///Git/PullRequestId/22ffdd4f-50ca-4b48-a296-32c194e1c202%2Faca0d31c-75aa-4940-b316-123a1b40f3b2%2F3"}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/14
  response:
    body:
      string: '{"id":14,"rev":12,"fields":{"System.AreaPath":"PullRequestLiveTest","System.TeamProject":"PullRequestLiveTest","System.IterationPath":"PullRequestLiveTest","System.WorkItemType":"Task","System.State":"To
        Do","System.Reason":"Added to backlog","System.CreatedDate":"2024-12-21T05:22:59.18Z","System.CreatedBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"System.ChangedDate":"2024-12-21T11:24:34.523Z","System.ChangedBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"System.CommentCount":0,"System.Title":"Task2","Microsoft.VSTS.Common.StateChangeDate":"2024-12-21T05:22:59.18Z","Microsoft.VSTS.Common.Priority":2},"relations":[{"rel":"ArtifactLink","url":"vstfs:///Git/PullRequestId/22ffdd4f-50ca-4b48-a296-32c194e1c202%2Faca0d31c-75aa-4940-b316-123a1b40f3b2%2F3","attributes":{"authorizedDate":"2024-12-21T11:24:34.523Z","id":12741162,"resourceCreatedDate":"2024-12-21T11:24:34.523Z","resourceModifiedDate":"2024-12-21T11:24:34.523Z","revisedDate":"9999-01-01T00:00:00Z","name":"Pull
        Request"}}],"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/wit/workItems/14"},"workItemUpdates":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/wit/workItems/14/updates"},"workItemRevisions":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/wit/workItems/14/revisions"},"workItemComments":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/wit/workItems/14/comments"},"html":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_workitems/edit/14"},"workItemType":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/wit/workItemTypes/Task"},"fields":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/wit/fields"}},"url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/wit/workItems/14"}'
    headers:
      activityid:
      - 5c7f2147-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7f2147-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/aca0d31c-75aa-4940-b316-123a1b40f3b2/pullRequests/3/workitems
  response:
    body:
      string: '{"count":2,"value":[{"id":"13","url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/13"},{"id":"14","url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/14"}]}'
    headers:
      activityid:
      - 5c7f21f4-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7f21f4-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems?ids=13%2C14
  response:
    body:
      string: '{"count":2,"value":[{"id":13,"rev":2,"fields":{"System.AreaPath":"PullRequestLiveTest","System.TeamProject[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems?ids=14&$expand=1
  response:
    body:
      string: '{"count":1,"value":[{"id":14,"rev":12,"fields":{"System.AreaPath":"PullRequestLiveTest","System.TeamP[...]
- request:
    body: '[{"op": "test", "path": "/rev", "value": 12}, {"op": 1, "path": "/relations/0"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/14
  response:
    body:
      string: '{"id":14,"rev":13,"field[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems?ids=13
  response:
    body:
      string: '{"count":1,"value":[{"id":13,"rev":2,"fields":{"System.AreaPath":"PullRequestLiveTest","System.TeamProject":"Pu[...]
[...]
