interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 5c716c7a-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c716c7a-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "GroupTests_000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects
  response:
    body:
      string: '{"id":"2a2bace8-d814-4863-a91e-2045c13237cb","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/2a2bace8-d814-4863-a91e-2045c13237cb"}'
    headers:
      activityid:
      - 7b33f499-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b33f499-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/2a2bace8-d814-4863-a91e-2045c13237cb
  response:
    body:
      string: '{"id":"2a2bace8-d814-4863-a91e-2045c13237cb","status":"inProgress","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/2a2bace8-d814-4863-a91e-2045c13237cb","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/2a2bace8-d814-4863-a91e-2045c13237cb"}}}'
    headers:
      activityid:
      - 5c716c27-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c716c27-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/GroupTests_000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"fee83171-68cd-4cf5-8c42-b99f9182240e","name":"GroupTests_000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/fee83171-68cd-4cf5-8c42-b99f9182240e","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":662,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/fee83171-68cd-4cf5-8c42-b99f9182240e"},"collection":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projectCollections/53d326e6-140a-4ae7-a550-33ce71119884"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/GroupTests_000001"}},"visibility":"private","defaultTeam":{"id":"ebdc4321-c1a1-4e75-a19b-0ddb4b5287f2","name":"GroupTests_000001
        Team","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/fee83171-68cd-4cf5-8c42-b99f9182240e/teams/ebdc4321-c1a1-4e75-a19b-0ddb4b5287f2"},"lastUpdateTime":"2024-12-21T11:15:44.847Z"}'
    headers:
      activityid:
      - f47565c8-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f47565c8-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/GroupTests_000001
  response:
    body:
      string: '{"id":"fee83171-68cd-4cf5-8c42-b99f9182240e","name":"GroupTests_000001","url":"https://dev.azure.com/bhav[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Descriptors/fee83171-68cd-4cf5-8c42-b99f9182240e
  response:
    body:
      string: '{"value":"scp.MzVlY2FkZDItYmFjYS00NDYzLTkxMGMtYTdlNjBjY2QwMDI1","_links":{"self":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Descriptors/fee83171-68cd-4cf5-8c42-b99f9182240e"},"storageKey":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/StorageKeys/scp.MzVlY2FkZDItYmFjYS00NDYzLTkxMGMtYTdlNjBjY2QwMDI1"},"subject":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Scopes/scp.MzVlY2FkZDItYmFjYS00NDYzLTkxMGMtYTdlNjBjY2QwMDI1"}}}'
    headers:
      activityid:
      - 69af31a8-c142-468f-8081-fad4ea0495ee
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 5410c286-48a0-4072-9b4f-507a0465709d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 69af31a8-c142-468f-8081-fad4ea0495ee
      x-vss-senderdeploymentid:
      - dc23afe4-07dd-489d-8cb5-e2597f346f09
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Groups?scopeDescriptor=scp.MzVlY2FkZDItYmFjYS00NDYzLTkxMGMtYTdlNjBjY2QwMDI1
  response:
    body:
      string: '{"count":6,"value":[{"subjectKind":"group","description":"The default
        project team.","domain":"vstfs:///Classification/TeamProject/fee83171-68cd-4cf5-8c42-b99f9182240e","principalName":"[GroupTests_000001]\\GroupTests_000001
        Team","mailAddress":null,"origin":"vsts","originId":"ebdc4321-c1a1-4e75-a19b-0ddb4b5287f2","displayName":"GroupTests_000001
        Team","_links":{"self":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtMTk1NjAzNzMyNS0xOTQ3MDM5NTYyLTI0NDA3NjM2OTQtNDA4MzQ1NzQ1Mg"},"memberships":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtMTk1NjAzNzMyNS0xOTQ3MDM5NTYyLTI0NDA3NjM2OTQtNDA4MzQ1NzQ1Mg"},"membershipState":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/MembershipStates/vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtMTk1NjAzNzMyNS0xOTQ3MDM5NTYyLTI0NDA3NjM2OTQtNDA4MzQ1NzQ1Mg"},"storageKey":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/StorageKeys/vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtMTk1NjAzNzMyNS0xOTQ3MDM5NTYyLTI0NDA3NjM2OTQtNDA4MzQ1NzQ1Mg"}},"url":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtMTk1NjAzNzMyNS0xOTQ3MDM5NTYyLTI0NDA3NjM2OTQtNDA4MzQ1NzQ1Mg","descriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtMTk1NjAzNzMyNS0xOTQ3MDM5NTYyLTI0NDA3NjM2OTQtNDA4MzQ1NzQ1Mg"},{"subjectKind":"group","description":"Members
        of this group have access to the team project.","domain":"vstfs:///Classification/TeamProject/fee83171-68cd-4cf5-8c42-b99f9182240e","principalName":"[GroupTests_000001]\\Project
        Valid Users","mailAddress":null,"origin":"vsts","originId":"5ca6edb2-7219-4a48-8b89-27b0d80eb765","displayNa[...]
- request:
    body: '[{"op": "add", "path": "", "value": {"accessLevel": {"accountLicenseType":
      "stakeholder"}, "extensions": [], "projectEntitlements": [], "user": {"subjectKind":
      "user", "principalName": "new_user_test@outlook.com"}}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/bhaveshbhati900130/_apis/UserEntitlements?doNotSendInviteForNewUsers=false
  response:
    body:
      string: '{"id":"c0aa81e6-6983-431a-bff1-9ccdff88f3e0","status":"succeeded","haveResultsSucceeded":true,"completed":true,"results":[{"userId":"81b08a76-33e4-4105-8155-7eaef03eb83a","isSuccess":true,"errors":[],"result":{"user":{"subjectKind":"user","domain":"Windows
        Live ID","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"msa","originId":null,"displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Users/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"memberships":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"membershipState":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/MembershipStates/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"storageKey":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/StorageKeys/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"}},"url":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Users/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t","descriptor":"bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"extensions":[],"id":"81b08a76-33e4-4105-8155-7eaef03eb83a","accessLevel":{"licensingSource":"account","accountLicenseType":"stakeholder","msdnLicenseType":"none","licenseDisplayName":"Stakeholder","status":"pending","statusMessage":"","assignmentSource":"unknown"},"lastAccessedDate":"0001-01-01T00:00:00Z","dateCreated":"2024-12-21T10:49:27.8474167Z","projectEntitlements":[],"groupAssignments":[]}}]}'
    headers:
      activityid:
      - fe96ba4d-5755-4ff8-bd28-d6e5414bf0f6
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.2
      x-tfs-processid:
      - 175c8cf2-37dd-4bb7-804f-a5433710f62d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - fe96ba4d-5755-4ff8-bd28-d6e5414bf0f6
      x-vss-senderdeploymentid:
      - 60550036-6ed7-6a2e-3bc7-9053b0c2e866
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMC0wLTAtMC0z?direction=down
  response:
    body:
      string: '{"count":5,"value":[{"containerDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMC0wLTAtMC0z","memberDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtMTk1NjAzNzMyNS0xOTQ3MDM5NTYyLTI0NDA3NjM2OTQtNDA4MzQ1NzQ1Mg","_links":{"self":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtMTk1NjAzNzMyNS0xOTQ3MDM5NTYyLTI0NDA3NjM2OTQtNDA4MzQ1NzQ1Mg/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMC0wLTAtMC0z"},"member":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtMTk1NjAzNzMyNS0xOTQ3MDM5NTYyLTI0NDA3NjM2OTQtNDA4MzQ1NzQ1Mg"},"container":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMC0wLTAtMC0z"}}},{"containerDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMC0wLTAtMC0z","memberDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtNDA0ODU1NDcxOS00MTE3MzM1MzY4LTI3ODg4ODIyMzAtMTkyMzQ0NzQ0MA","_links":{"self":{"href":"ht[...]
- request:
    body: '{"lookupKeys": [{"descriptor": "vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtMTk1NjAzNzMyNS0xOTQ3MDM5NTYyLTI0NDA3NjM2OTQtNDA4MzQ1NzQ1Mg"},
      {"descriptor": "vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtNDA0ODU1NDcxOS00MTE3MzM1MzY4LTI3ODg4ODIyMzAtMTkyMzQ0NzQ0MA"},
      {"descriptor": "vssgp.Uy0xLTktMTU1MTM3NDI0NS0xODk5MDk2MzE4LTM0NDYyMDc4MjAtMjM1MzE4MzEzNS0yNDQxMjI1MjMwLTEtMTk1MDc2NzI3MS0xMDI2MDI2MzE2LTMxNjQzNzU5NDct[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMS0zMjQ4NjU2NTg5LTIzNTM4MTE3OTAtMjYwMzkzMzEzOS00MjA1MTU1NTgy
  r[...]
[...]
- request:
    body: '{"displayName": "project security GroupName_000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Groups?scopeDescriptor=scp.MzVlY2FkZDItYmFjYS00NDYzLTkxMGMtYTdlNjBjY2QwMDI1&groupDescriptors=vssgp.Uy0xLTk[...]
[...]
- request:
    body: '{"displayName": "project security GroupName_000005"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Groups?scopeDescriptor=scp.MzVlY2FkZDItYmFjYS00NDYzLTkxMGMtYTdlNjBjY2QwMDI1&groupDescriptors=vssgp.Uy0xLTk[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMS0yODYyMDY3ODA3LTMwODY5MDQ2NTUtMjQyMDk3ODY3NS0xMDE0NDEwNTkw?direction=down
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - 0f43cd97-3107-4cde-8764-70039fd43661
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 7f3e7a34-b189-4279-bfcf-e72c4ee5bd43
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 0f43cd97-3107-4cde-8764-70039fd43661
      x-vss-senderdeploymentid:
      - dc23afe4-07dd-489d-8cb5-e2597f346f09
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMS0yODYyMDY3ODA3LTMwODY5MDQ2NTUtMjQyMDk3ODY3NS0xMDE0NDEwNTk[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMS0yODYyMDY3ODA3LTMwODY5MDQ2NTUtMjQyMDk3ODY3NS0xMDE0NDEwNTk[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Identities?searchFilter=General&filterValue=new_user_test%40outlook.com
  response:
    body:
      string: '{"count":1,"value":[{"id":"81b08a76-33e4-4105-8155-7eaef03eb83a","descriptor":"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com","subjectDescriptor":"bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t","providerDisplayName":"new_user_test@outlook.com","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"Windows
        Live ID"},"Account":{"$type":"System.String","$value":"new_user_test@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"new_user_test@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2024-12-21T00:00:00Z"}},"resourceVersion":2,"metaTypeId":255}]}'
    headers:
      activityid:
      - 02872914-3ceb-4019-b8e5-d730f05ceeb4
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d811742c-96a7-4e65-9d2e-f0473fd5d8a3
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 02872914-3ceb-4019-b8e5-d730f05ceeb4
      x-vss-senderdeploymentid:
      - dc23afe4-07dd-489d-8cb5-e2597f346f09
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3Nj[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMS0zMjQ4NjU2NTg5LTIzNTM4MTE3OTAtMjYwMzkzMzEzOS00MjA1MTU1NTg[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: HEAD
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMS0yODYyMDY3ODA3LTMwODY5MDQ2NTUtMjQyMDk3ODY3NS0xMDE0NDEwNTkw/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMS0zMjQ4NjU2NTg5LTIzNTM4MTE3OTAtMjYwMzkzMzEzOS00MjA1MTU1NTgy
  response:
    body:
      string: ''
    headers:
      activityid:
      - f475b4e1-8493-45c3-8602-cb23b6418eac
      x-tfs-fedauthissuer:
      - https://www.visualstudio.com/
      x-tfs-fedauthrealm:
      - https://spsprodcin1.vssps.visualstudio.com/
      x-tfs-processid:
      - c958a316-0b39-420e-9b9b-df1f524e3fb6
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-authorizationendpoint:
      - https://vssps.dev.azure.com/bhaveshbhati900130/
      x-vss-e2eid:
      - f475b4e1-8493-45c3-8602-cb23b6418eac
      x-vss-resourcetenant:
      - 00000000-0000-0000-0000-000000000000
      x-vss-senderdeploymentid:
      - dc23afe4-07dd-489d-8cb5-e2597f346f09
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"op": "replace", "path": "/displayName", "value": "project security GroupName_000006"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEy[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Groups/vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNTM0NjEzNTU3LTM0MDEyMTI3NDAtMjQzMzUyNTczNC0yMTQ3NjE1MDktMS0yODYyMDY3ODA3LTMwODY5MDQ2NTUtMjQyMDk3ODY3NS0xMDE0NDEwNTkw
  response:
    body:
      string: ''
    headers:
      activityid:
      - 0f43d783-3107-4cde-8764-70039fd43661
      x-tfs-processid:
      - 7f3e7a34-b189-4279-bfcf-e72c4ee5bd43
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 0f43d783-3107-4cde-8764-70039fd43661
      x-vss-senderdeploymentid:
      - dc23afe4-07dd-489d-8cb5-e2597f346f09
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/fee83171-68cd-4cf5-8c42-b99f9182240e
  response:
    body:
      string: '{"id":"6c7c751e-f334-4637-812c-e9804d5bd6c2","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/6c7c751e-f334-4637-812c-e9804d5bd6c2"}'
    headers:
      activityid:
      - 349ca61a-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ca61a-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/6c7c751e-f334-4637-812c-e9804d5bd6c2
  response:
    body:
      string: '{"id":"6c7c751e-f334-4637-812c-e9804d5bd6c2","status":"succeeded","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/6c7c751e-f334-4637-812c-e9804d5bd6c2","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/6c7c751e-f334-4637-812c-e9804d5bd6c2"}}}'
    headers:
      activityid:
      - 8dc76b5d-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc76b5d-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
