interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 8dc78f9f-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc78f9f-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "varGroupTests000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects
  response:
    body:
      string: '{"id":"1f53ffa5-878f-4e96-8e7a-26f86e1b4382","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/1f53ffa5-878f-4e96-8e7a-26f86e1b4382"}'
    headers:
      activityid:
      - 7b2da51d-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2da51d-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/1f53ffa5-878f-4e96-8e7a-26f86e1b4382
  response:
    body:
      string: '{"id":"1f53ffa5-878f-4e96-8e7a-26f86e1b4382","status":"inProgress","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/1f53ffa5-878f-4e96-8e7a-26f86e1b4382","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/1f53ffa5-878f-4e96-8e7a-26f86e1b4382"}}}'
    headers:
      activityid:
      - f588bda8-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f588bda8-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/varGroupTests000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"7d470224-94c4-46ca-b69e-01be9fdff687","name":"varGroupTests000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/7d470224-94c4-46ca-b69e-01be9fdff687","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":756,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/7d470224-94c4-46ca-b69e-01be9fdff687"},"collection":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projectCollections/53d326e6-140a-4ae7-a550-33ce71119884"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/varGroupTests000001"}},"visibility":"private","defaultTeam":{"id":"698c336c-255a-46b7-a5a1-33cc511c752a","name":"varGroupTests000001
        Team","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/7d470224-94c4-46ca-b69e-01be9fdff687/teams/698c336c-255a-46b7-a5a1-33cc511c752a"},"lastUpdateTime":"2024-12-21T11:25:04.853Z"}'
    headers:
      activityid:
      - 8dc78a39-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc78a39-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Sample group description", "name": "group1", "type": "Vsts",
      "variables": {"var1": {"isSecret": false, "value": "value1"}, "var2": {"isSecret":
      false, "value": "value2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/varGroupTests000001/_apis/distributedtask/variablegroups
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":7,"type":"Vsts","name":"group1","description":"Sample
        group description","createdBy":{"displayName":null,"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba"},"createdOn":"2024-12-21T11:25:06.4233333Z","modifiedBy":{"displayName":null,"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba"},"modifiedOn":"2024-12-21T11:25:06.4233333Z","isShared":false,"variableGroupProjectReferences":[{"projectReference":{"id":"7d470224-94c4-46ca-b69e-01be9fdff687","name":"varGroupTests000001"},"name":"group1","description":"Sample
        group description"}]}'
    headers:
      activityid:
      - 8dc78a09-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc78a09-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"authorized": true, "id": "7", "name": "group1", "type": "variablegroup"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/varGroupTests000001/_apis/build/authorizedresources
  response:
    body:
      string: '{"count":1,"value":[{"type":"variablegroup","id":"7","authorized":true}]}'
    headers:
      activityid:
      - 8dc78a4f-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc78a4f-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/varGroupTests000001/_apis/distributedtask/variablegroups?queryOrder=idDescending
  response:
    body:
      string: '{"count":2,"value":[{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":8,"type":"Vsts","name":"group2","description":"Sample
        group description","createdBy":{"displayName":"Bhavesh Bhati","id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com"},"createdOn":"2024-12-21T11:25:06.7733333Z","modifiedBy":{"displayName":"Bhavesh
        Bhati","id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com"},"modifiedOn":"2024-12-21T11:25:06.7733333Z","isShared":false,"variableGroupProjectReferences":null},{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":7,"type":"Vsts","name":"group1","description":"Sample
        group description","createdBy":{"displayName":"Bhavesh Bhati","id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com"},"createdOn":"2024-12-21T11:25:06.4233333Z","modifiedBy":{"displayName":"Bhavesh
        Bhati","id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com"},"modifiedOn":"2024-12-21T11:25:06.4233333Z","isShared":false,"variableGroupProjectReferences":null}]}'
    headers:
      activityid:
      - 8dc78911-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc78911-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/varGroupTests000001/_apis/distributedtask/variablegroups/7
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"}},"id":7,"type[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/varGroupTests000001/_apis/build/authorizedresources?type=variablegroup&id=7
  response:
    body:
      string: '{"count":1,"value":[{"type":"variablegroup","id":"7","authorized":true}]}'
    headers:
      activityid:
      - 349d02f2-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349d02f2-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"createdBy": {"displayName": "Bhavesh Bhati", "id": "b74afd16-9f1e-62ef-97c3-d8ba49a8fcba",
      "uniqueName": "bhaveshbhati90@outlook.com"}, "createdOn": "2024-12-21T11:25:06.773333Z",
      "description": "NewDescription", "id": 8, "isShared": false, "modifiedBy": {"displayName":
      "Bhavesh Bhati", "id": "b74afd16-9f1e-62ef-97c3-d8ba49a8fcba", "uniqueName":
      "bhaveshbhati90@outlook.com"}, "modifiedOn": "2024-12-21T11:25:07.960Z", "name":
      "newGroup", "type": "Vsts", "variables": {"var1": {"value": "value1"}, "var2":
      {"value": "value2"}, "NewVar1": {"value": "NewVal1"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/bhaveshbhati900130/varGroupTests000001/_apis/distributedtask/variablegroups/8
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"value2"},"NewVar1":{"va[...]
[...]
- request:
    body: '{"createdBy": {"displayName": "Bhavesh Bhati", "id": "b74afd16-9f1e-62ef-97c3-d8ba49a8fcba",
      "uniqueName": "bhaveshbhati90@outlook.com"}, "createdOn": "2024-12-21T11:25:06.773333Z",
      "description": "NewDescription", "id": 8, "isShared": false, "modifiedBy": {"displayName":
      "Bhavesh Bhati", "id": "b74afd16-9f1e-62ef-97c3-d8ba49a8fcba", "uniqueName":
      "bhaveshbhati90@outlook.com"}, "modifiedOn": "2024-12-21T11:25:08.560Z", "name":
      "newGroup", "type": "Vsts", "variables": {"var1": {"value": "value1"}, "var2":
      {"value": "value2"}, "NewVar1": {"value": "NewVal1"}, "NewVar2": {"isSecret":
      true, "value": "NewVal2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/bhaveshbhati900130/varGroupTests000001/_apis/distributedtask/variablegroups/8
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":[...]
[...]
- request:
    body: '{"createdBy": {"displayName": "Bhavesh Bhati", "id": "b74afd16-9f1e-62ef-97c3-d8ba49a8fcba",
      "uniqueName": "bhaveshbhati90@outlook.com"}, "createdOn": "2024-12-21T11:25:06.773333Z",
      "description": "NewDescription", "id": 8, "isShared": false, "modifiedBy": {"displayName":
      "Bhavesh Bhati", "id": "b74afd16-9f1e-62ef-97c3-d8ba49a8fcba", "uniqueName":
      "bhaveshbhati90@outlook.com"}, "modifiedOn": "2024-12-21T11:25:08.933333Z",
      "name": "newGroup", "type": "Vsts", "variables": {"var1": {"value": "value1"},
      "var2": {"value": "value2"}, "NewVar2": {"isSecret": true}, "NewVar1Updated":
      {"isSecret": true, "value": "1234"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/bhaveshbhati900130/varGroupTests000001/_apis/distributedtask/variablegroups/8
  response:
    body:
      string: '{"variables":{"var1":{"value":"value1"},"var2":{"value":"va[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/7d470224-94c4-46ca-b69e-01be9fdff687
  response:
    body:
      string: '{"id":"7767ef54-bc0b-47e1-9cee-9d2ad65e07f2","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/7767ef54-bc0b-47e1-9cee-9d2ad65e07f2"}'
    headers:
      activityid:
      - 8dc786f5-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc786f5-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/7767ef54-bc0b-47e1-9cee-9d2ad65e07f2
  response:
    body:
      string: '{"id":"7767ef54-bc0b-47e1-9cee-9d2ad65e07f2","status":"succeeded","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/7767ef54-bc0b-47e1-9cee-9d2ad65e07f2","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/7767ef54-bc0b-47e1-9cee-9d2ad65e07f2"}}}'
    headers:
      activityid:
      - f5888423-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f5888423-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
