interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 7b33dd25-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b33dd25-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "WIRel000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects
  response:
    body:
      string: '{"id":"3f9712e7-622a-493c-9e23-1b25fae5de5a","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/3f9712e7-622a-493c-9e23-1b25fae5de5a"}'
    headers:
      activityid:
      - 7b33dd9e-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b33dd9e-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/3f9712e7-622a-493c-9e23-1b25fae5de5a
  response:
    body:
      string: '{"id":"3f9712e7-622a-493c-9e23-1b25fae5de5a","status":"inProgress","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/3f9712e7-622a-493c-9e23-1b25fae5de5a","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/3f9712e7-622a-493c-9e23-1b25fae5de5a"}}}'
    headers:
      activityid:
      - f475045a-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f475045a-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/WIRel000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"df9fcc2d-b315-450c-93c4-4a6a75844ce7","name":"WIRel000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/df9fcc2d-b315-450c-93c4-4a6a75844ce7","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":642,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/df9fcc2d-b315-450c-93c4-4a6a75844ce7"},"collection":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projectCollections/53d326e6-140a-4ae7-a550-33ce71119884"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/WIRel000001"}},"visibility":"private","defaultTeam":{"id":"aecf1458-51a1-4745-a677-e5af668ac436","name":"WIRel000001
        Team","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/df9fcc2d-b315-450c-93c4-4a6a75844ce7/teams/aecf1458-51a1-4745-a677-e5af668ac436"},"lastUpdateTime":"2024-12-21T11:15:25Z"}'
    headers:
      activityid:
      - 8dd9304a-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dd9304a-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "path": "/fields/System.Title", "value": "Task_0"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/WIRel000001/_apis/wit/workItems/$Task
  response:
    body:
      string: '{"id":24,"rev":1,"fields":{"System.AreaPath":"WIRel000001","System.TeamProject":"WIRel000001","System.IterationPath":"WIRel000001","System.WorkItemType":"Task","System.State":"To
        Do","System.Reason":"Added to backlog","System.CreatedDate":"2024-12-21T11:15:26.16Z","System.CreatedBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"System.ChangedDate":"2024-12-21T11:15:26.16Z","System.ChangedBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"System.CommentCount":0,"System.Title":"Task_0","Microsoft.VSTS.Common.StateChangeDate":"2024-12-21T11:15:26.16Z","Microsoft.VSTS.Common.Priority":2},"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/df9fcc2d-b315-450c-93c4-4a6a75844ce7/_apis/wit/workItems/24"},"workItemUpdates":{"href":"https://dev.azure.com/bhaveshbhati900130/df9fcc2d-b315-450c-93c4-4a6a75844ce7/_apis/wit/workItems/24/updates"},"workItemRevisions":{"href":"https://dev.azure.com/bhaveshbhati900130/df9fcc2d-b315-450c-93c4-4a6a75844ce7/_apis/wit/workItems/24/revisions"},"workItemComments":{"href":"https://dev.azure.com/bhaveshbhati900130/df9fcc2d-b315-450c-93c4-4a6a75844ce7/_apis/wit/workItems/24/comments"},"html":{"href":"https://dev.azure.com/bhaveshbhati900130/df9fcc2d-b315-450c-93c4-4a6a75844ce7/_workitems/edit/24"},"workItemType":{"href":"https://dev.azure.com/bhaveshbhati900130/df9fcc2d-b315-450c-93c4-4a6a75844ce7/_apis/wit/workItemTypes/Task"},"fields":{"href":"https://dev.azure.com/bhaveshbhati900130/df9fcc2d-b315-450c-93c4-4a6a75844ce7/_apis/wit/fields"}},"url":"https://dev.azure.com/bhaveshbhati900130/df9fcc2d-b315-450c-93c4-4a6a75844ce7/_apis/wit/workItems/24"}'
    headers:
      activityid:
      - 8dd93098-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dd93098-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItemRelationTypes
  response:
    body:
      string: '{"count":18,"value":[{"attributes":{"usage":"workItemLink","editable":true,"enabled":true,"acyclic":true,"directional":true,"singleTarget":true,"topology":"dependency","remote":false,"isForward":true,"oppositeEndReferenceName":"Microsoft.VSTS.Common.Affects-Reverse"},"referenceName":"Microsoft.VSTS.Common.Affects-Forward","name":"Affects","url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItemRelationTypes/Microsoft.VSTS.Common.Affects-Forward"},{"attributes":{"usage":"workItemLink","editable":true,"enabled":true,"acyclic":true,"directional":true,"singleTarget":true,"topology":"dependency","remote":false,"isForward":false,"oppositeEndReferenceName":"Microsoft.VSTS.Common.Affects-Forward"},"referenceName":"Microsoft.VSTS.Common.Affects-Reverse","name":"Affected
  [...]
- request:
    body: '{"query": "SELECT [System.Id] FROM WorkItems WHERE ([System.Id] = 25 OR
      [System.Id] = 26 OR [System.Id] = 27)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/wiql
  response:
    body:
      string: '{"queryType":"flat","queryResultType":"workItem","asOf":"2024-12-21T11:15:27.133Z","columns":[{"referenceName":"System.Id","name":"ID","url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/fields/System.Id"}],"workItems":[{"id":25,"url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/25"},{"id":26,"url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/26"},{"id":27,"url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/27"}]}'
    headers:
      activityid:
      - 8dd92e08-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dd92e08-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "path": "/relations/-", "value": {"rel": "System.LinkTypes.Hierarchy-Forward",
      "url": "https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/25"}},
      {"op": "add", "path": "/relations/-", "value": {"rel": "System.LinkTypes.Hierarchy-Forward",
      "url": "https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/26"}},
      {"op": "add", "path": "/relations/-", "value": {"rel": "System.LinkTypes.Hierarchy-Forward",
      "url": "https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/27"}}]'
    headers:
   [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/24?$expand=All
  response:
    body:
      string: '{"id":24,"rev":1,"fields":{"System.Id":24,"System.AreaId":284,"System.AreaPath":"WIRel000001","System.TeamProject":"WIRel000001","System.NodeName":"WIRel000001","System.AreaLevel1":"WIRel000001","System.Rev":1,"System.AuthorizedDate":"2024-12-21T11:15:26.16Z","System.RevisedDate":"9999-01-01T00:00:00Z","System.IterationId":281,"System.IterationPath":"WIRel000001","System.IterationLevel1":"WIRel000001","System.WorkItemType":"Task","System.State":"To
        Do","System.Reason":"Added to backlog","System.CreatedDate":"2024-12-21T11:15:26.16Z","System.CreatedBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiY[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/24?$expand=relations
  response:
    body:
      string: '{"id":24,"rev":1,"fields":{"System.AreaPath":"WIRel000001","System.TeamProject":"WIRel000001","Sy[...]
[...]
- request:
    body: '[{"op": "remove", "path": "/relations/0"}, {"op": "remove", "path": "/relations/2"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/24
  response:
    body:
      string: '{"id":24,"rev":1,"fi[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/df9fcc2d-b315-450c-93c4-4a6a75844ce7
  response:
    body:
      string: '{"id":"f3990957-5cb6-4f69-94b5-74acd2824edf","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/f3990957-5cb6-4f69-94b5-74acd2824edf"}'
    headers:
      activityid:
      - f475136c-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f475136c-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/f3990957-5cb6-4f69-94b5-74acd2824edf
  response:
    body:
      string: '{"id":"f3990957-5cb6-4f69-94b5-74acd2824edf","status":"succeeded","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/f3990957-5cb6-4f69-94b5-74acd2824edf","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/f3990957-5cb6-4f69-94b5-74acd2824edf"}}}'
    headers:
      activityid:
      - 7b33cad4-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b33cad4-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
