interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 5c7eae65-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7eae65-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TeamOps000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects
  response:
    body:
      string: '{"id":"5792eb34-d0bd-4539-a61b-b2cba574635e","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/5792eb34-d0bd-4539-a61b-b2cba574635e"}'
    headers:
      activityid:
      - f477242e-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f477242e-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/5792eb34-d0bd-4539-a61b-b2cba574635e
  response:
    body:
      string: '{"id":"5792eb34-d0bd-4539-a61b-b2cba574635e","status":"inProgress","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/5792eb34-d0bd-4539-a61b-b2cba574635e","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/5792eb34-d0bd-4539-a61b-b2cba574635e"}}}'
    headers:
      activityid:
      - f477246f-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f477246f-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/TeamOps000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"337f2674-d263-4ad2-8dce-26e879c234e3","name":"TeamOps000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/337f2674-d263-4ad2-8dce-26e879c234e3","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":682,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/337f2674-d263-4ad2-8dce-26e879c234e3"},"collection":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projectCollections/53d326e6-140a-4ae7-a550-33ce71119884"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/TeamOps000001"}},"visibility":"private","defaultTeam":{"id":"eca2bf31-238a-4ce1-83eb-a56856af3694","name":"TeamOps000001
        Team","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/337f2674-d263-4ad2-8dce-26e879c234e3/teams/eca2bf31-238a-4ce1-83eb-a56856af3694"},"lastUpdateTime":"2024-12-21T11:22:42.86Z"}'
    headers:
      activityid:
      - 8dc71908-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc71908-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "team_name000002", "description": "Sample description"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/TeamOps000001/teams
  response:
    body:
      string: '{"id":"94aa5d79-1eff-4785-b252-4033403af0a1","name":"team_name000002","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/337f2674-d263-4ad2-8dce-26e879c234e3/teams/94aa5d79-1eff-4785-b252-4033403af0a1","description":"Sample
        description","identityUrl":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/94aa5d79-1eff-4785-b252-4033403af0a1","projectName":"TeamOps000001","projectId":"337f2674-d263-4ad2-8dce-26e879c234e3","identity":{"id":"94aa5d79-1eff-4785-b252-4033403af0a1","descriptor":"Microsoft.TeamFoundation.Identity;S-1-9-1551374245-1948679987-1674760778-2379097832-2042770659-1-1725455304-3209568577-2881577988-3887970074","subjectDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0xOTQ4Njc5OTg3LTE2NzQ3NjA3NzgtMjM3OTA5NzgzMi0yMDQyNzcwNjU5LTEtMTcyNTQ1NTMwNC0zMjA5NTY4NTc3LTI4ODE1Nzc5ODgtMzg4Nzk3MDA3NA","providerDisplayName":"[TeamOps000001]\\team_name000002","isActive":true,"isContainer":true,"members":[],"memberOf":[],"masterId":"94aa5d79-1eff-4785-b252-4033403af0a1","properties":{"Microsoft.TeamFoundation.Team":{"$type":"System.Boolean","$value":true},"SchemaClassName":{"$type":"System.String","$value":"Group"},"Description":{"$type":"System.String","$value":"Sample
        description"},"Domain":{"$type":"System.String","$value":"vstfs:///Classification/TeamProject/337f2674-d263-4ad2-8dce-26e879c234e3"},"Account":{"$type":"System.String","$value":"team_name000002"},"SecurityGroup":{"$type":"System.String","$value":"SecurityGroup"},"SpecialType":{"$type":"System.String","$value":"Generic"},"ScopeId":{"$type":"System.String","$value":"efd1bca3-0351-4934-b1bb-f0988e7f0477"},"ScopeType":{"$type":"System.String","$value":"TeamProject"},"LocalScopeId":{"$type":"System.String","$value":"337f2674-d263-4ad2-8dce-26e879c234e3"},"SecuringHostId":{"$type":"System.String","$value":"d4f9b754-309e-4cac-92bd-3ebc6ef4d5a3"},"ScopeName":{"$type":"System.String","$value":"TeamOps000001"},"VirtualPlugin":{"$type":"System.String","$value":""}},"resourceVersion":2,"metaTypeId":255}}'
    headers:
      activityid:
      - 5c7eb127-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7eb127-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/TeamOps000001/teams/94aa5d79-1eff-4785-b252-4033403af0a1
  response:
    body:
      string: '{"id":"94aa5d79-1eff-4785-b252-4033403af0a1","name":"team_name000002","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/337f2674-d263-4ad2-8dce-26e879c234e3/teams/94aa5d79-1eff-4785-b252-4033403af0a1","description":"Sample
        description","identityUrl":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/94aa5d79-1eff-4785-b252-4033403af0a1","projectName":"TeamOps000001","projectId":"337f2674-d263-4ad2-8dce-26e879c234e3"}'
    headers:
      activityid:
      - 349c8f3a-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349c8f3a-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "updated_000004", "description": "Sample updated description"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/TeamOps000001/teams/team_name000002
  response:
    body:
      string: '{"id":"94aa5d79-[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/TeamOps000001/teams/TeamOps000001%20Team/members
  response:
    body:
      string: '{"value":[{"isTeamAdmin":true,"identity":{"displayName":"Bhavesh Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_api/_common/identityImage?id=b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}}],"count":1}'
    headers:
      activityid:
      - 8dc7131e-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc7131e-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/337f2674-d263-4ad2-8dce-26e879c234e3
  response:
    body:
      string: '{"id":"b981f354-bb87-4766-9253-d5846f44d978","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/b981f354-bb87-4766-9253-d5846f44d978"}'
    headers:
      activityid:
      - 8dc713ca-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc713ca-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/b981f354-bb87-4766-9253-d5846f44d978
  response:
    body:
      string: '{"id":"b981f354-bb87-4766-9253-d5846f44d978","status":"succeeded","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/b981f354-bb87-4766-9253-d5846f44d978","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/b981f354-bb87-4766-9253-d5846f44d978"}}}'
    headers:
      activityid:
      - 5c7eb938-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7eb938-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
