interactions:
- request:
    body: '{"GlobalMessageBanners/banner-id-000001": {"message": "Sample banner message",
      "level": "warning", "expirationDate": "2024-12-21T00:00:00+00:00"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 331e6f8f-607f-45cc-96b5-0d54f181b18f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/Settings/Entries/host
  response:
    body:
      string: ''
    headers:
      activityid:
      - 7b049a78-07bc-4c04-8243-726de0ebb061
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 331e6f8f-607f-45cc-96b5-0d54f181b18f
      x-vss-e2eid:
      - 7b049a78-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 331e6f8f-607f-45cc-96b5-0d54f181b18f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/Settings/Entries/host/GlobalMessageBanners
  response:
    body:
      string: '{"count":1,"value":{"banner-id-000001":{"message":"Sample banner message","level":"warning","expirationDate":"2024-12-21T00:00:00+00:00"}}}'
    headers:
      activityid:
      - f5a1c733-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 331e6f8f-607f-45cc-96b5-0d54f181b18f
      x-vss-e2eid:
      - f5a1c733-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 331e6f8f-607f-45cc-96b5-0d54f181b18f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/Settings/Entries/host/GlobalMessageBanners%2Fbanner-id-000001
  response:
    body:
      string: ''
    headers:
      activityid:
      - 7b0486d6-07bc-4c04-8243-726de0ebb061
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 331e6f8f-607f-45cc-96b5-0d54f181b18f
      x-vss-e2eid:
      - 7b0486d6-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 331e6f8f-607f-45cc-96b5-0d54f181b18f
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/Settings/Entries/host/GlobalMessageBanners
  response:
    body:
      string: '{"count":0,"value":{}}'
    headers:
      activityid:
      - 354a656f-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 331e6f8f-607f-45cc-96b5-0d54f181b18f
      x-vss-e2eid:
      - 354a656f-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
