interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 8dc73293-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc73293-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pipelinesTest000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects
  response:
    body:
      string: '{"id":"e5f8976c-8c09-4614-949a-2fd8a70e049a","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/e5f8976c-8c09-4614-949a-2fd8a70e049a"}'
    headers:
      activityid:
      - 7b2dc0af-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2dc0af-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/e5f8976c-8c09-4614-949a-2fd8a70e049a
  response:
    body:
      string: '{"id":"e5f8976c-8c09-4614-949a-2fd8a70e049a","status":"inProgress","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/e5f8976c-8c09-4614-949a-2fd8a70e049a","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/e5f8976c-8c09-4614-949a-2fd8a70e049a"}}}'
    headers:
      activityid:
      - 349ceca4-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ceca4-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/pipelinesTest000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"51eedb85-b127-4d82-b984-3b659925b0b7","name":"pipelinesTest000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/51eedb85-b127-4d82-b984-3b659925b0b7","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":716,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/51eedb85-b127-4d82-b984-3b659925b0b7"},"collection":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projectCollections/53d326e6-140a-4ae7-a550-33ce71119884"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001"}},"visibility":"private","defaultTeam":{"id":"3584cca4-bb6f-44bd-b6c8-8fa35529b65c","name":"pipelinesTest000001
        Team","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/51eedb85-b127-4d82-b984-3b659925b0b7/teams/3584cca4-bb6f-44bd-b6c8-8fa35529b65c"},"lastUpdateTime":"2024-12-21T11:23:26.683Z"}'
    headers:
      activityid:
      - 7b2dc487-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2dc487-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"7230bca4-bf55-4afb-91a2-57c3e77d4b13","name":"pipelinesTest000001","url":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13","project":{"id":"51eedb85-b127-4d82-b984-3b659925b0b7","name":"pipelinesTest000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/51eedb85-b127-4d82-b984-3b659925b0b7","state":"wellFormed","revision":716,"visibility":"private","lastUpdateTime":"2024-12-21T11:23:26.683Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_git/pipelinesTest000001","isDisabled":false,"isInMaintenance":false}],"count":1}'
    headers:
      activityid:
      - f4771902-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f4771902-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13/importRequests
  response:
    body:
      string: '{"importRequestId":22,"repository":{"id":"7230bca4-bf55-4afb-91a2-57c3e77d4b13","name":"pipelinesTest000001","url":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13","project":{"id":"51eedb85-b127-4d82-b984-3b659925b0b7","name":"pipelinesTest000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/51eedb85-b127-4d82-b984-3b659925b0b7","state":"wellFormed","revision":716,"visibility":"private","lastUpdateTime":"2024-12-21T11:23:26.683Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_git/pipelinesTest000001","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13/importRequests/22"},"repository":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13"}},"url":"https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13/importRequests/22"}'
    headers:
      activityid:
      - 5c7f5e2b-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7f5e2b-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13/importRequests/22
  response:
    body:
      string: '{"importRequestId":22,"repository":{"id"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_apis/build/Definitions?name=ContosoBuild
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - 349ce21e-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.1
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ce21e-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_apis/git/repositories/pipelinesTest000001
  response:
    body:
      string: '{"id":"7230bca4-bf55-4afb-91a2-57c3e77d4b13","name":"pipelinesTest000001","url":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13","project":{"id":"51eedb85-b127-4d82-b984-3b659925b0b7","name":"pipelinesTest000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/51eedb85-b127-4d82-b984-3b659925b0b7","state":"wellFormed","revision":716,"visibility":"private","lastUpdateTime":"2024-12-21T11:23:26.683Z"},"defaultBranch":"refs/heads/main","size":1602,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_git/pipelinesTest000001","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/pipelinesTest000001/pipelinesTest000001","webUrl":"https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_git/pipelinesTest000001","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13"},"project":{"href":"vstfs:///Classification/TeamProject/51eedb85-b127-4d82-b984-3b659925b0b7"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_git/pipelinesTest000001"},"ssh":{"href":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/pipelinesTest000001/pipelinesTest000001"},"commits":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13/commits"},"refs":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13/refs"},"pullRequests":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13/pullRequests"},"items":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13/items"},"pushes":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/git/repositories/7230bca4-bf55-4afb-91a2-57c3e77d4b13/pushes"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 349ce2fd-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ce2fd-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_apis/distributedtask/queues
  response:
    body:
      string: '{"count":9,"value":[{"id":613,"projectId":"51eedb85-b127-4d82-b984-3b659925b0b7","name":"Default","pool":{"id":1,"scope":"53d326e6-140a-4ae7-a550-33ce71119884","name":"Default","isHosted":false,"poolType":"automation","size":0,"isLegacy":false,"options":"none"}},{"id":614,"projectId":"51eedb85-b127-4d82-b984-3b659925b0b7","name":"Hosted","pool":{"id":2,"scope":"53d326e6-140a-4ae7-a550-33ce71119884","name":"Hosted","isHosted":true,"poolType":"automation","size":1,"isLegacy":true,"options":"none"}},{"id":615,"projectId":"51eedb85-b127-4d82-b984-3b659925b0b7","name":"Hosted
        VS2017","pool":{"id":3,"scope":"53d326e6-140a-4ae7-a550-33ce71119884","name":"Hosted
        VS2017","isHosted":true,"poolType":"automation","size":1,"isLegacy":true,"o[...]
- request:
    body: '{"name": "ContosoBuild", "queue": {"id": 620}, "description": "Pipeline
      for contoso project", "process": {"yamlFilename": "azure-pipelines.yml", "type":
      2}, "repository": {"defaultBranch": "main", "id": "7230bca4-bf55-4afb-91a2-57c3e77d4b13",
      "name": "pipelinesTest000001", "type": "tfsgit"}, "triggers": [{"settingsSourceType":
      2, "triggerType": 2}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_apis/build/Definitions
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/build/Definitions/7?revision=1"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_build/definition?definitionId=7"},"editor":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_build/designer?id=7&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/build/status/7"}},"description":"Pipeline
        for contoso project","jobAuthorizationScope":"projectCollection","process":{"yamlFilename":"azure-pipelines.yml","type":2},"repository":{"id":"7230bca4-bf55-4afb-91a2-57c3e77d4b13","type":"TfsGit","name":"pipelinesTest000001","url":"https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_git/pipelinesTest000001","defaultBranch":"main","clean":null,"checkoutSubmodules":false},"quality":"definition","authoredBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"drafts":[],"queue":{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/build/Queues/620"}},"id":620,"name":"Hosted
        Ubuntu 1604","url":"https://dev.azure.com/bhaveshbhati900130/_apis/build/Queues/620","pool":{"id":8,"name":"Hosted
        Ubuntu 1604","isHosted":true}},"id":7,"name":"ContosoBuild","url":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/build/Definitions/7?revision=1","uri":"vstfs:///Build/Definition/7","path":"\\","type":"build","queueStatus":"enabled","revision":1,"createdDate":"2024-12-21T11:23:34.723Z","project":{"id":"51eedb85-b127-4d82-b984-3b659925b0b7","name":"pipelinesTest000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/51eedb85-b127-4d82-b984-3b659925b0b7","state":"wellFormed","revision":716,"visibility":"private","lastUpdateTime":"2024-12-21T11:23:26.683Z"}}'
    headers:
      activityid:
      - 349ce365-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.1
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ce365-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"createdDate": "2024-12-21T11:23:34.723Z", "id": 7, "name":
      "ContosoBuild", "path": "\\", "project": {"id": "51eedb85-b127-4d82-b984-3b659925b0b7",
      "lastUpdateTime": "2024-12-21T11:23:26.683Z", "name": "pipelinesTest000001",
      "revision": 716, "state": "wellFormed", "url": "https://dev.azure.com/bhaveshbhati900130/_apis/projects/51eedb85-b127-4d82-b984-3b659925b0b7",
      "visibility": "private"}, "queueStatus": "enabled", "revision": 1, "type": "build",
      "uri": "vstfs://[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_apis/build/Definitions/7
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":fals[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_apis/build/Definitions/7
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"variables":{"var1":{"value":null,"allowOverride":true,"isSecret":true}},"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/build/Definitions/7?revision=2"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_build/definition?definitionId=7"},"editor":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_build/designer?id=7&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/bhaveshbhati9[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_apis/build/Definitions/7
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"variables":{"var1":{"value":null,"allowOverride":true,"isSecret":true},"var2":{"value":"value2"}},"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_apis/build/Definitions/7?revision=3"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_build/definition?definitionId=7"},"editor":{"href":"https://dev.azure.com/bhaveshbhati900130/51eedb85-b127-4d82-b984-3b659925b0b7/_build/designer?id=7&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/pipelinesTest000001/_apis/build/Definitions?queryOrder=none
  response:
    body:
      string: '{"count":1,"value":[{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbh[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/51eedb85-b127-4d82-b984-3b659925b0b7
  response:
    body:
      string: '{"id":"c2549ae9-370d-4cbf-bc21-f60ee9b177ed","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/c2549ae9-370d-4cbf-bc21-f60ee9b177ed"}'
    headers:
      activityid:
      - 5c7f68ed-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7f68ed-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/c2549ae9-370d-4cbf-bc21-f60ee9b177ed
  response:
    body:
      string: '{"id":"c2549ae9-370d-4cbf-bc21-f60ee9b177ed","status":"succeeded","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/c2549ae9-370d-4cbf-bc21-f60ee9b177ed","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/c2549ae9-370d-4cbf-bc21-f60ee9b177ed"}}}'
    headers:
      activityid:
      - 349cdc40-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349cdc40-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
