interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vsaex.dev.azure.com/bhaveshbhati900130/_apis/UserEntitlements?top=100
  response:
    body:
      string: '{"members":[{"user":{"subjectKind":"user","domain":"Windows Live ID","principalName":"bhaveshbhati90@outlook.com","mailAddress":"bhaveshbhati90@outlook.com","origin":"msa","originId":"0003000183A1B2F6","displayName":"Bhavesh
        Bhati","_links":{"self":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Users/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"memberships":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"membershipState":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/MembershipStates/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"storageKey":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/StorageKeys/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"url":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Users/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"extensions":[],"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","accessLevel":{"licensingSource":"msdn","accountLicenseType":"none","msdnLicenseType":"enterprise","licenseDisplayName":"Visual
        Studio Enterprise subscription","status":"active","statusMessage":"","assignmentSource":"unknown"},"lastAccessedDate":"2024-12-21T04:05:59.4082376Z","dateCreated":"2024-10-02T16:06:14.6166386Z","projectEntitlements":[],"groupAssignments":[]},{"user":{"subjectKind":"user","domain":"Windows
        Live ID","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"msa","originId":null,"displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Users/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"memberships":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/bnd.dXBuOldpbmRvd3Mg[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Identities?searchFilter=General&filterValue=new_user_test%40outlook.com
  response:
    body:
      string: '{"count":1,"value":[{"id":"81b08a76-33e4-4105-8155-7eaef03eb83a","descriptor":"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com","subjectDescriptor":"bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t","providerDisplayName":"new_user_test@outlook.com","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"Windows
        Live ID"},"Account":{"$type":"System.String","$value":"new_user_test@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"new_user_test@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2024-12-21T00:00:00Z"}},"resourceVersion":2,"metaTypeId":255}]}'
    headers:
      activityid:
      - 0f422f46-3107-4cde-8764-70039fd43661
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 7f3e7a34-b189-4279-bfcf-e72c4ee5bd43
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 0f422f46-3107-4cde-8764-70039fd43661
      x-vss-senderdeploymentid:
      - dc23afe4-07dd-489d-8cb5-e2597f346f09
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://vsaex.dev.azure.com/bhaveshbhati900130/_apis/UserEntitlements/81b08a76-33e4-4105-8155-7eaef03eb83a
  response:
    body:
      string: ''
    headers:
      activityid:
      - 277a45eb-676e-48c5-9bd5-441fe0720a54
      x-tfs-processid:
      - 51c4de2d-ec4e-4e2c-8a10-84587c721d9f
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 277a45eb-676e-48c5-9bd5-441fe0720a54
      x-vss-senderdeploymentid:
      - 60550036-6ed7-6a2e-3bc7-9053b0c2e866
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 204
      message: No Content
- request:
    body: '[{"op": "add", "path": "", "value": {"accessLevel": {"accountLicenseType":
      "stakeholder"}, "extensions": [], "projectEntitlements": [], "user": {"subjectKind":
      "user", "principalName": "new_user_test@outlook.com"}}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/bhaveshbhati900130/_apis/UserEntitlements?doNotSendInviteForNewUsers=false
  response:
    body:
      string: '{"id":"aacc7699-6f1e-4799-b0fc-ce9b225ec300","status":"succeeded","haveResultsSucceeded":true,"completed":true,"results":[{"userId":"81b08a76-33e4-4105-8155-7eaef03eb83a","isSuccess":true,"errors":[],"result":{"user":{"subjectKind":"user","domain":"Windows
        Live ID","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"msa","originId":null,"displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Users/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"memberships":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/bnd.dXBuOldpbmRvd3MgTGl2[...]
[...]
- request:
    body: '[{"op": "replace", "path": "/accessLevel", "value": {"accountLicenseType":
      "express"}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/bhaveshbhati900130/_apis/UserEntitlements/81b08a76-33e4-4105-8155-7eaef03eb83a
  response:
    body:
      string: '{"operationResults":[{"userId":"81b08a76-33e4-4105-8155-7eaef03eb83a","isSuccess":true,"errors":[],"result":{"user":{"subjectKind":"user","domain":"Windows
        Live ID","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"msa","originId":null,"displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Users/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"memberships":{"href":"https:/[...]
[...]
