interactions:
- request:
    body: '{"name": "rMtcUxOL"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/RepoCreateListShowDeleteTests/_apis/git/repositories
  response:
    body:
      string: '{"id":"b08874ea-7842-4145-8bfd-49c7f730b8c7","name":"rMtcUxOL","url":"https://dev.azure.com/bhaveshbhati900130/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4/_apis/git/repositories/b08874ea-7842-4145-8bfd-49c7f730b8c7","project":{"id":"8d67570c-9e5e-4af2-ac29-32fd00fd0ee4","name":"RepoCreateListShowDeleteTests","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4","state":"wellFormed","revision":166,"visibility":"private","lastUpdateTime":"2024-12-20T16:51:25.297Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/RepoCreateListShowDeleteTests/_git/rMtcUxOL","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/RepoCreateListShowDeleteTests/rMtcUxOL","webUrl":"https://dev.azure.com/bhaveshbhati900130/RepoCreateListShowDeleteTests/_git/rMtcUxOL","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 5c7f3ce5-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7f3ce5-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/RepoCreateListShowDeleteTests/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"e38db64c-03e2-429e-b9f2-164e076fbb27","name":"RepoCreateListShowDeleteTests","url":"https://dev.azure.com/bhaveshbhati900130/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4/_apis/git/repositories/e38db64c-03e2-429e-b9f2-164e076fbb27","project":{"id":"8d67570c-9e5e-4af2-ac29-32fd00fd0ee4","name":"RepoCreateListShowDeleteTests","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4","state":"wellFormed","revision":166,"visibility":"private","lastUpdateTime[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/RepoCreateListShowDeleteTests/_apis/git/repositories/b08874ea-7842-4145-8bfd-49c7f730b8c7
  response:
    body:
      string: '{"id":"b08874ea-7842-4145-8bfd-49c7f730b8c7","name":"rMtcUxOL","url":"https://dev.azure.com/bhaveshbhati900130/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4/_apis/git/repositories/b08874ea-7842-4145-8bfd-49c7f730b8c7","project":{"id":"8d67570c-9e5e-4af2-ac29-32fd00fd0ee4","name":"RepoCreateListShowDeleteTests","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4","state":"wellFormed","revision":166,"visibility":"private","lastUpdateTime":"2024-12-20T16:51:25.297Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/RepoCreateListShowDeleteTests/_git/rMtcUxOL","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/RepoCreateListShowDeleteTests/rMtcUxOL","webUrl":"https://dev.azure.com/bhaveshbhati900130/RepoCreateListShowDeleteTests/_git/rMtcUxOL","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4/_apis/git/repositories/b08874ea-7842-4145-8bfd-49c7f730b8c7"},"project":{"href":"vstfs:///Classification/TeamProject/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/RepoCreateListShowDeleteTests/_git/rMtcUxOL"},"ssh":{"href":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/RepoCreateListShowDeleteTests/rMtcUxOL"},"commits":{"href":"https://dev.azure.com/bhaveshbhati900130/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4/_apis/git/repositories/b08874ea-7842-4145-8bfd-49c7f730b8c7/commits"},"refs":{"href":"https://dev.azure.com/bhaveshbhati900130/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4/_apis/git/repositories/b08874ea-7842-4145-8bfd-49c7f730b8c7/refs"},"pullRequests":{"href":"https://dev.azure.com/bhaveshbhati900130/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4/_apis/git/repositories/b08874ea-7842-4145-8bfd-49c7f730b8c7/pullRequests"},"items":{"href":"https://dev.azure.com/bhaveshbhati900130/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4/_apis/git/repositories/b08874ea-7842-4145-8bfd-49c7f730b8c7/items"},"pushes":{"href":"https://dev.azure.com/bhaveshbhati900130/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4/_apis/git/repositories/b08874ea-7842-4145-8bfd-49c7f730b8c7/pushes"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 8dc79095-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc79095-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"_links": {}, "id": "b08874ea-7842-4145-8bfd-49c7f730b8c7", "name": "rMtcUxOLUpdated",
      "project": {"id": "8d67570c-9e5e-4af2-ac29-32fd00fd0ee4", "name": "RepoCreateListShowDeleteTests",
      "revision": 166, "state": "wellFormed", "url": "https://dev.azure.com/bhaveshbhati900130/_apis/projects/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4",
      "visibility": "private"}, "remoteUrl": "https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/RepoCreateListShowDeleteTests/[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/RepoCreateListShowDeleteTests/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"e38db64c-03e2-429e-b9f2-164e076fbb27","name":"RepoCreateListShowDeleteTests","url":"https://dev.azure.com/bhaveshbhati900130/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4/_apis/git/repositories/e38db64c-03e2-429e-b9f2-164e076fbb27","project":{"id":"8d67570c-9e5e-4af2-ac29-32fd00fd0ee4","name":"RepoCreateListShowDeleteTests","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/8d67570c-9e5e-4af2-ac29-32fd00fd0ee4","state":"wellFormed","revision":166,"visibility":"private","lastUpdateTime":"2024-12-20T16:51:25.297Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/RepoCreateListShowDeleteTests/_git/RepoCreateListShowDeleteTests","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/RepoCreateListShowDeleteTests/RepoCreateListShowDeleteTests","webUrl":"https://dev.azure.com/bhaveshbhati900130/RepoCreateListShowDeleteTests/_git/RepoCreateListShowDeleteTests","isDisabled":false,"isInMaintenance":false}],"count":1}'
    headers:
      activityid:
      - f588baf2-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f588baf2-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
