interactions:
- request:
    body: '[{"op": "add", "path": "/fields/System.Title", "value": "sampleTask"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/WorkItemCreateShowUpdateDeleteTests/_apis/wit/workItems/$Task
  response:
    body:
      string: '{"id":29,"rev":1,"fields":{"System.AreaPath":"WorkItemCreateShowUpdateDeleteTests","System.TeamProject":"WorkItemCreateShowUpdateDeleteTests","System.IterationPath":"WorkItemCreateShowUpdateDeleteTests","System.WorkItemType":"Task","System.State":"To
        Do","System.Reason":"Added to backlog","System.CreatedDate":"2024-12-21T11:15:33.8Z","System.CreatedBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"System.ChangedDate":"2024-12-21T11:15:33.8Z","System.ChangedBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"System.CommentCount":0,"System.Title":"sampleTask","Microsoft.VSTS.Common.StateChangeDate":"2024-12-21T11:15:33.8Z","Microsoft.VSTS.Common.Priority":2},"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/workItems/29"},"workItemUpdates":{"href":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/workItems/29/updates"},"workItemRevisions":{"href":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/workItems/29/revisions"},"workItemComments":{"href":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/workItems/29/comments"},"html":{"href":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_workitems/edit/29"},"workItemType":{"href":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/workItemTypes/Task"},"fields":{"href":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/fields"}},"url":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/workItems/29"}'
    headers:
      activityid:
      - f475156c-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f475156c-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/29?$expand=all
  response:
    body:
      string: '{"id":29,"rev":1,"fields":{"System.Id":29,"System.AreaId":100,"System.AreaPath":"WorkItemCreateShowUpdateDeleteTests","System.TeamProject":"WorkItemCreateShowUpdateDeleteTests","System.NodeName":"WorkItemCreateShowUpdateDeleteTests","System.AreaLevel1":"WorkItemCreateShowUpdateDeleteTests","System.Rev":1,"System.AuthorizedDate":"2024-12-21T11:15:33.8Z","System.RevisedDate":"9999-01-01T00:00:00Z","System.IterationId":97,"System.IterationPath":"WorkItemCreateShowUpdateDeleteTests","System.IterationLevel1":"WorkItemCreateShowUpdateDeleteTests","System.WorkItemType":"Task","System.State":"To
        Do","System.Reason":"Added to backlog","System.CreatedDate":"2024-12-21T11:15:33.8Z","System.CreatedBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOW[...]
- request:
    body: '[{"op": "add", "path": "/fields/System.State", "value": "Done"}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/29
  response:
    body:
      string: '{"id":29,"rev":2,"fields":{"System.AreaP[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/WorkItemCreateShowUpdateDeleteTests/_apis/wit/workItems/29?destroy=false
  response:
    body:
      string: '{"id":29,"type":"Task","name":"sampleTask","project":"WorkItemCreateShowUpdateDeleteTests","deletedDate":"12/21/2024
        11:15:34 AM","deletedBy":"Bhavesh Bhati <bhaveshbhati90@outlook.com>","code":200,"url":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/recyclebin/29","resource":{"id":29,"rev":3,"fields":{"System.AreaPath":"WorkItemCreateShowUpdateDeleteTests","System.TeamProject":"WorkItemCreateShowUpdateDeleteTests","System.IterationPath":"WorkItemCreateShowUpdateDeleteTests","System.WorkItemType":"Task","System.State":"Done","System.Reason":"Completed","System.CreatedDate":"2024-12-21T11:15:33.8Z","System.CreatedBy":"Bhavesh
        Bhati <bhaveshbhati90@outlook.com>","System.ChangedDate":"2024-12-21T11:15:34.237Z","System.ChangedBy":"Bhavesh
        Bhati <bhaveshbhati90@outlook.com>","System.CommentCount":0,"System.Title":"sampleTask","Microsoft.VSTS.Common.StateChangeDate":"2024-12-21T11:15:34.047Z","Microsoft.VSTS.Common.ClosedDate":"2024-12-21T11:15:34.047Z","Microsoft.VSTS.Common.ClosedBy":"Bhavesh
        Bhati <bhaveshbhati90@outlook.com>","Microsoft.VSTS.Common.Priority":2},"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/recyclebin/29"},"workItemType":{"href":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/workItemTypes/Task"},"fields":{"href":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/fields"}},"url":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/recyclebin/29"}}'
    headers:
      activityid:
      - 5c716213-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c716213-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/29?$expand=all
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"TF401232: Work item 29
        does not exist, or you do not have permissions to read it.","typeName":"Microsoft.TeamFoundation.WorkItemTracking.Server.WorkItemUnauthorizedAccessException,
        Microsoft.TeamFoundation.WorkItemTracking.Server","typeKey":"WorkItemUnauthorizedAccessException","errorCode":0,"eventId":3200}'
    headers:
      activityid:
      - 5c7162d7-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7162d7-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 404
      message: Not Found
version: 1
