interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/buildtests/_apis/build/Definitions?queryOrder=DefinitionNameAscending
  response:
    body:
      string: '{"count":2,"value":[{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Definitions/2?revision=2"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_build/definition?definitionId=2"},"editor":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_build/designer?id=2&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/status/2"}},"quality":"definition","authoredBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"drafts":[],"queue":{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/build/Queues/153"}},"id":153,"name":"Azure
        Pipelines","url":"https://dev.azure.com/bhaveshbhati900130/_apis/build/Queues/153","pool":{"id":9,"name":"Azure
        Pipelines","isHosted":true}},"id":2,"name":"BuildTests Definition1","url":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Definitions/2?revision=2","uri":"vstfs:///Build/Definition/2","path":"\\","type":"build","queueStatus":"enabled","revision":2,"createdDate":"2024-12-21T04:40:51.093Z","project":{"id":"dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","name":"buildtests","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","state":"wellFormed","revision":174,"visibility":"private","lastUpdateTime":"2024-12-20T16:59:12.807Z"}},{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Definitions/3?revision=1"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_build/definition?definitionId=3"},"editor":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_build/designer?id=3&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/bhaveshbhati9001[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/buildtests/_apis/build/Definitions/2
  response:
    body:
      string: '{"triggers":[{"branchFilters":[],"pathFilters":[],"settingsSourceType":2,"batchChanges":false,"maxConcurrentBuildsPerBranch":1,"triggerType":"continuousIntegration"}],"properties":{},"tags":[],"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Definitions/2?revision=2"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_build/definition?definitionId=2"},"editor":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_build/designer?id=2&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/status/2"}},"jobAuthorizationScope":"projectCollection","jobTimeoutInMinutes":60,"jobCancelTimeoutInMinutes":5,"process":{"yamlFilename":"azure-pipelines.yml","type":2},"repository":{"properties":{"cloneUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/buildtests/_git/buildtests","fullName":"buildtests","defaultBranch":"refs/heads/main","isFork":"False","safeRepository":"cf8847e7-ad64-4baa-9b3b-8f9412d23701","reportBuildStatus":"true","fetchDepth":"1"},"id":"cf8847e7-ad64-4baa-9b3b-8f9412d23701","type":"TfsGit","name":"buildtests","url":"https://dev.azure.com/bhaveshbhati900130/buildtests/_git/buildtests","defaultBranch":"refs/heads/main","clean":null,"checkoutSubmodules":false},"quality":"definition","authoredBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.c[...]
