interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 349ca4b7-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ca4b7-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Permission_000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects
  response:
    body:
      string: '{"id":"99cab054-aea7-412c-8244-d755f6c3595d","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/99cab054-aea7-412c-8244-d755f6c3595d"}'
    headers:
      activityid:
      - 7b2d060c-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2d060c-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/99cab054-aea7-412c-8244-d755f6c3595d
  response:
    body:
      string: '{"id":"99cab054-aea7-412c-8244-d755f6c3595d","status":"inProgress","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/99cab054-aea7-412c-8244-d755f6c3595d","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/99cab054-aea7-412c-8244-d755f6c3595d"}}}'
    headers:
      activityid:
      - 8dc76a04-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc76a04-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/Permission_000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"660ff553-beb6-4b4f-be5d-0c4c13da4399","name":"Permission_000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/660ff553-beb6-4b4f-be5d-0c4c13da4399","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":672,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/660ff553-beb6-4b4f-be5d-0c4c13da4399"},"collection":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projectCollections/53d326e6-140a-4ae7-a550-33ce71119884"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/Permission_000001"}},"visibility":"private","defaultTeam":{"id":"44b8ad6a-c63a-4d2b-bd5d-0ff2cde79a99","name":"Permission_000001
        Team","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/660ff553-beb6-4b4f-be5d-0c4c13da4399/teams/44b8ad6a-c63a-4d2b-bd5d-0ff2cde79a99"},"lastUpdateTime":"2024-12-21T11:22:28.347Z"}'
    headers:
      activityid:
      - 349ca086-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ca086-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "path": "", "value": {"accessLevel": {"accountLicenseType":
      "stakeholder"}, "extensions": [], "projectEntitlements": [], "user": {"subjectKind":
      "user", "principalName": "new_user_test@outlook.com"}}}]'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://vsaex.dev.azure.com/bhaveshbhati900130/_apis/UserEntitlements?doNotSendInviteForNewUsers=false
  response:
    body:
      string: '{"id":"e4bccaaa-e9cd-4c7b-bdbf-cc36143254a7","status":"succeeded","haveResultsSucceeded":true,"completed":true,"results":[{"userId":"81b08a76-33e4-4105-8155-7eaef03eb83a","isSuccess":true,"errors":[],"result":{"user":{"subjectKind":"user","domain":"Windows
        Live ID","principalName":"new_user_test@outlook.com","mailAddress":"new_user_test@outlook.com","origin":"msa","originId":null,"displayName":"new_user_test@outlook.com","_links":{"self":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Users/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"memberships":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Memberships/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"membershipState":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/MembershipStates/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"storageKey":{"href":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/StorageKeys/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"}},"url":"https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Graph/Users/bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t","descriptor":"bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t"},"extensions":[],"id":"81b08a76-33e4-4105-8155-7eaef03eb83a","accessLevel":{"licensingSource":"account","accountLicenseType":"stakeholder","msdnLicenseType":"none","licenseDisplayName":"Stakeholder","status":"pending","statusMessage":"","assignmentSource":"unknown"},"lastAccessedDate":"0001-01-01T00:00:00Z","dateCreated":"2024-12-21T10:49:27.8474167Z","projectEntitlements":[],"groupAssignments":[]}}]}'
    headers:
      activityid:
      - 81c78a33-43ca-4adb-a24f-fe8aeede474c
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.2
      x-tfs-processid:
      - 8dc3c208-83c1-478c-b21a-83b45e1915b9
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 81c78a33-43ca-4adb-a24f-fe8aeede474c
      x-vss-senderdeploymentid:
      - 60550036-6ed7-6a2e-3bc7-9053b0c2e866
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/SecurityNamespaces?localOnly=false
  response:
    body:
      string: "{\"count\":60,\"value\":[{\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\",\"name\":\"Analytics\",\"displayName\":\"Analytics\",\"separatorValue\":\"/\",\"elementLength\":-1,\"writePermission\":2,\"readPermission\":1,\"dataspaceCategory\":\"Default\",\"actions\":[{\"bit\":1,\"name\":\"Read\",\"displayName\":\"View
        analytics\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":2,\"name\":\"Administer\",\"displayName\":\"Manage
        analytics permissions\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":4,\"name\":\"Stage\",\"displayName\":\"Push
        the data to staging area\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":8,\"name\":\"ExecuteUnrestrictedQuery\",\"displayName\":\"Execute
        query without any restrictions on the query form\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"},{\"bit\":16,\"name\":\"ReadEuii\",\"displayName\":\"Read
        EUII data\",\"namespaceId\":\"58450c49-b02d-465a-ab12-59ae512d6531\"}],\"structureValue\":1,\"extensionType\":null,\"isRemotable\":false,\"useTokenTranslator\":false,\"systemBitMask\":30},{\"namespaceId\":\"d34d3680-dfe5-4cc6-a949-7d9c68f73cba\",\"name\":\"AnalyticsViews\",\"displayName\":\"AnalyticsViews\",\"separatorValue\":\"/\",\"elementLength\":-1,\"writePermission\":1024,\"readPermission\":1,\"dataspaceCategory\":\"Default\",\"actions\":[{\"bit\":1,\"name\":\"Read\",\"displayName\":\"View
        shared Analytics views\",\"namespaceId\":\"d34d3680-dfe5-4cc6-a949-7d9c68f73cba\"},{\"bit\":2,\"name\":\"Edit\",\"displayName\":\"Edit
        shared Analytics views\",\"namesp[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/SecurityNamespaces/52d39943-cb85-4d7f-8fa8-c6baac873819
  response:
    body:
      string: '{"count":1,"value":[{"namespaceId":"52d39943-cb85-4d7f-8fa8-c6baac873819","n[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Identities?searchFilter=General&filterValue=new_user_test%40outlook.com
  response:
    body:
      string: '{"count":1,"value":[{"id":"81b08a76-33e4-4105-8155-7eaef03eb83a","descriptor":"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com","subjectDescriptor":"bnd.dXBuOldpbmRvd3MgTGl2ZSBJRFxuZXdfdXNlcl90ZXN0QG91dGxvb2suY29t","providerDisplayName":"new_user_test@outlook.com","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"Windows
        Live ID"},"Account":{"$type":"System.String","$value":"new_user_test@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"new_user_test@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2024-12-21T00:00:00Z"}},"resourceVersion":2,"metaTypeId":255}]}'
    headers:
      activityid:
      - b08232bf-1913-455d-b26c-5c57d09a77f6
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - ce1e2b96-f8dd-44df-8301-d69550948f78
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - b08232bf-1913-455d-b26c-5c57d09a77f6
      x-vss-senderdeploymentid:
      - dc23afe4-07dd-489d-8cb5-e2597f346f09
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?descriptors=Microsoft.TeamFoundation.BindPendingIdentity%3Bupn%3AWindows%20Live%20ID%5Cnew_user_test%40outlook.com&includeExtendedInfo=true&recurse=false
  response:
    body:
      string: '{"count":65,"value":[{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/04842c58-091e-4644-87ec-38eb2239c2fa","acesDictionary":{"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com":{"descriptor":"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com","allow":0,"deny":0,"extendedInfo":{}}},"includeExtendedInfo":true},{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/0bea4454-78b8-49fb-b9d2-068904a4fa79","acesDictionary":{"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com":{"descriptor":"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com","allow":0,"deny":0,"extendedInfo":{}}},"includeExtendedInfo":true},{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/Tea[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F660ff553-beb6-4b4f-be5d-0c4c13da4399&descripto[...]
[...]
- request:
    body: '{"token": "$PROJECT:vstfs:///Classification/TeamProject/660ff553-beb6-4b4f-be5d-0c4c13da4399",
      "merge": true, "accessControlEntries": [{"allow": 65536, "deny": 0, "descriptor":
      "Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows Live ID\\new_user_test@outlook.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/AccessControlEntries/52d39943-cb85-4d7f-8fa8-c6baac873819
  response:
    body:
      string: '{"count":1,"value":[{"descriptor":"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com","allow":65536,"deny":0}]}'
    headers:
      activityid:
      - 8dc76241-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc76241-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F660ff553-beb6-4b4f-be5d-0c4c13da4399&descriptors=Microsoft.TeamFoundation.BindPendingIdentity%3Bupn%3AWindows%20Live%20ID%5Cnew_user_test%40outlook.com&includeExtendedInfo=true&recurse=false
  response:
    body:
      string: '{"count":1,"value":[{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/660ff553-beb6-4b4f-be5d-0c4c13da4399","acesDictionary":{"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com":{"descriptor":"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com","allow":65536,"deny":0,"extendedInfo":{"effectiveAllow":65536}}},"includeExtendedInfo":true}]}'
    headers:
      activityid:
      - 7b2d0eeb-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2d0eeb-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/Permissions/52d39943-cb85-4d7f-8fa8-c6baac873819/65536?descriptor=Microsoft.TeamFoundation.BindPendingIdentity%3Bupn%3AWindows%20Live%20ID%5Cnew_user_test%40outlook.com&token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F660ff553-beb6-4b4f-be5d-0c4c13da4399
  response:
    body:
      string: '{"descriptor":"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com","allow":0,"deny":0}'
    headers:
      activityid:
      - 8dc76026-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc76026-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/AccessControlLists/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F660ff553-beb6-4b4f-be5d-0c4c13da4399&descriptors=Microsoft.TeamFoundation.BindPendingIdentity%3Bupn%3AWindows%20Live%20ID%5Cnew_user_test%40outlook.com&includeExtendedInfo=true&recurse=false
  response:
    body:
      string: '{"count":1,"value":[{"inheritPermissions":true,"token":"$PROJECT:vstfs:///Classification/TeamProject/660ff553-beb6-4b4f-be5d-0c4c13da4399","acesDictionary":{"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com":{"descriptor":"Microsoft.TeamFoundation.BindPendingIdentity;upn:Windows
        Live ID\\new_user_test@outlook.com","allow":0,"deny":65536,"extendedInfo":{"effectiveDeny":65536}}},"includeExtendedInfo":true}]}'
    headers:
      activityid:
      - 7b2d3004-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2d3004-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/AccessControlEntries/52d39943-cb85-4d7f-8fa8-c6baac873819?token=%24PROJECT%3Avstfs%3A%2F%2F%2FClassification%2FTeamProject%2F660ff553-beb6-4b4f-be5d-0c4c13da4399&descriptors=Microsoft.TeamFoundation.BindPendingIdentity%3Bupn%3AWindows%20Live%20ID%5Cnew_user_test%40outlook.com
  response:
    body:
      string: 'true'
    headers:
      activityid:
      - f4772242-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f4772242-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/660ff553-beb6-4b4f-be5d-0c4c13da4399
  response:
    body:
      string: '{"id":"331ebeb7-d613-4e30-96fa-a86f062715c4","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/331ebeb7-d613-4e30-96fa-a86f062715c4"}'
    headers:
      activityid:
      - f47725e1-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f47725e1-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/331ebeb7-d613-4e30-96fa-a86f062715c4
  response:
    body:
      string: '{"id":"331ebeb7-d613-4e30-96fa-a86f062715c4","status":"succeeded","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/331ebeb7-d613-4e30-96fa-a86f062715c4","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/331ebeb7-d613-4e30-96fa-a86f062715c4"}}}'
    headers:
      activityid:
      - 7b2d347d-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2d347d-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
