interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/buildtests/_apis/build/Definitions?name=BuildTests%20Definition1
  response:
    body:
      string: '{"count":1,"value":[{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Definitions/2?revision=2"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_build/definition?definitionId=2"},"editor":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_build/designer?id=2&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/status/2"}},"quality":"definition","authoredBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"drafts":[],"queue":{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/build/Queues/153"}},"id":153,"name":"Azure
        Pipelines","url":"https://dev.azure.com/bhaveshbhati900130/_apis/build/Queues/153","pool":{"id":9,"name":"Azure
        Pipelines","isHosted":true}},"id":2,"name":"BuildTests Definition1","url":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Definitions/2?revision=2","uri":"vstfs:///Build/Definition/2","path":"\\","type":"build","queueStatus":"enabled","revision":2,"createdDate":"2024-12-21T04:40:51.093Z","project":{"id":"dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","name":"buildtests","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","state":"wellFormed","revision":174,"visibility":"private","lastUpdateTime":"2024-12-20T16:59:12.807Z"}}]}'
    headers:
      activityid:
      - f4770dcf-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f4770dcf-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"id": 2}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/buildtests/_apis/build/Builds
  response:
    body:
      string: '{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Builds/22"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_build/results?buildId=22"},"sourceVersionDisplayUri":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/builds/22/sources"},"timeline":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/builds/22/Timeline"},"badge":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/status/2"}},"properties":{},"tags":[],"validationResults":[],"plans":[{"planId":"8c1edf9b-c800-4211-8814-f778a09196e1"}],"triggerInfo":{},"id":22,"buildNumber":"20241221.9","status":"notStarted","queueTime":"2024-12-21T11:23:16.4000139Z","url":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Builds/22","definition":{"drafts":[],"id":2,"name":"BuildTests
        Definition1","url":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Definitions/2?revision=2","uri":"vstfs:///Build/Definition/2","path":"\\","type":"build","queueStatus":"enabled","revision":2,"project":{"id":"dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","name":"buildtests","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","state":"wellFormed","revision":174,"visibility":"private","lastUpdateTime":"2024-12-20T16:59:12.807Z"}},"buildNumberRevision":9,"project":{"id":"dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","name":"buildtests","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","state":"wellFormed","revision":174,"visibility":"private","lastUpdateTime":"2024-12-20T16:59:12.807Z"},"uri":"vstfs:///Build/Build/22","sourceBranch":"refs/heads/main","sourceVersion":"3ad447cc1637b1354eee6fef87128c95833148c9","queue":{"id":153,"name":"Azure
        Pipelines","pool":{"id":9,"name":"Azure Pipelines","isHosted":true}},"priority":"normal","reason":"manual","requestedFor":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"requestedBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"lastChangedDate":"2024-12-21T11:23:16.64Z","lastChangedBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"orchestrationPlan":{"planId":"8c1edf9b-c800-4211-8814-f778a09196e1"},"logs":{"id":0,"type":"Container","url":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/builds/22/logs"},"repository":{"id":"cf8847e7-ad64-4baa-9b3b-8f9412d23701","type":"TfsGit","name":"buildtests","url":"https://dev.azure.com/bhaveshbhati900130/buildtests/_git/buildtests","clean":null,"checkoutSubmodules":false},"keepForever":false,"retainedByRelease":false,"triggeredByBuild":null,"appendCommitMessageToRunName":true}'
    headers:
      activityid:
      - 5c7f515a-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7f515a-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "Cancelling"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/buildtests/_apis/build/Builds/22
  response:
    body:
      string: '{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df[...]
