interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 349d7f02-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349d7f02-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "WikiTests000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects
  response:
    body:
      string: '{"id":"9f0c896a-239c-44ef-9c89-5a55610596e5","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/9f0c896a-239c-44ef-9c89-5a55610596e5"}'
    headers:
      activityid:
      - 349d7ffd-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349d7ffd-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/9f0c896a-239c-44ef-9c89-5a55610596e5
  response:
    body:
      string: '{"id":"9f0c896a-239c-44ef-9c89-5a55610596e5","status":"inProgress","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/9f0c896a-239c-44ef-9c89-5a55610596e5","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/9f0c896a-239c-44ef-9c89-5a55610596e5"}}}'
    headers:
      activityid:
      - 5c7fc943-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7fc943-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/WikiTests000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"a4bc5452-6c36-4304-b77b-e1fdc48f5d73","name":"WikiTests000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/a4bc5452-6c36-4304-b77b-e1fdc48f5d73","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":766,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/a4bc5452-6c36-4304-b77b-e1fdc48f5d73"},"collection":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projectCollections/53d326e6-140a-4ae7-a550-33ce71119884"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/WikiTests000001"}},"visibility":"private","defaultTeam":{"id":"0897023b-fd2d-4d60-8dce-e997ce4be6eb","name":"WikiTests000001
        Team","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/teams/0897023b-fd2d-4d60-8dce-e997ce4be6eb"},"lastUpdateTime":"2024-12-21T11:25:14.043Z"}'
    headers:
      activityid:
      - 7b2c51f0-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2c51f0-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "WikiTests000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories
  response:
    body:
      string: '{"id":"f72d833c-7f8b-4501-952b-3a2d2515c21f","name":"WikiTests000002","url":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f","project":{"id":"a4bc5452-6c36-4304-b77b-e1fdc48f5d73","name":"WikiTests000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/a4bc5452-6c36-4304-b77b-e1fdc48f5d73","state":"wellFormed","revision":766,"visibility":"private","lastUpdateTime":"2024-12-21T11:25:14.043Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/WikiTests000001/_git/WikiTests000002","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/WikiTests000001/WikiTests000002","webUrl":"https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_git/WikiTests000002","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 349d7a75-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349d7a75-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://github.com/hkasera/snakes-and-ladders.git"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f/importRequests
  response:
    body:
      string: '{"importRequestId":28,"repository":{"id":"f72d833c-7f8b-4501-952b-3a2d2515c21f","name":"WikiTests000002","url":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f","project":{"id":"a4bc5452-6c36-4304-b77b-e1fdc48f5d73","name":"WikiTests000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/a4bc5452-6c36-4304-b77b-e1fdc48f5d73","state":"wellFormed","revision":766,"visibility":"private","lastUpdateTime":"2024-12-21T11:25:14.043Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/WikiTests000001/_git/WikiTests000002","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/WikiTests000001/WikiTests000002","webUrl":"https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_git/WikiTests000002","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://github.com/hkasera/snakes-and-ladders.git","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f/importRequests/28"},"repository":{"href":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f"}},"url":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f/importRequests/28"}'
    headers:
      activityid:
      - 349d7ae4-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349d7ae4-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f/importRequests/28
  response:
    body:
      string: '{"importRequestId":28,"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_apis/wiki/wikis
  response:
    body:
      string: '{"value":[],"count":0}'
    headers:
      activityid:
      - 349d77b4-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349d77b4-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/WikiTests000001
  response:
    body:
      string: '{"id":"a4bc5452-6c36-4304-b77b-e1fdc48f5d73","name":"WikiTests000001","url":"https://dev.azure.com/bhaveshb[...]
- request:
    body: '{"name": "myprojectwiki", "projectId": "a4bc5452-6c36-4304-b77b-e1fdc48f5d73",
      "type": "projectwiki"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_apis/wiki/wikis
  response:
    body:
      string: '{"id":"4a8b4f73-2009-4386-9a44-71870c2aff94","versions":[{"version":"wikiMaster"}],"url":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/wiki/wikis/4a8b4f73-2009-4386-9a44-71870c2aff94","remoteUrl":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_wiki/wikis/4a8b4f73-2009-4386-9a44-71870c2aff94","type":"projectWiki","name":"myprojectwiki","projectId":"a4bc5452-6c36-4304-b77b-e1fdc48f5d73","repositoryId":"4a8b4f73-2009-4386-9a44-71870c2aff94","mappedPath":"/"}'
    headers:
      activityid:
      - 8dc7bb75-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc7bb75-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_apis/git/repositories/WikiTests000002
  response:
    body:
      string: '{"id":"f72d833c-7f8b-4501-952b-3a2d2515c21f","name":"WikiTests000002","url":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f","project":{"id":"a4bc5452-6c36-4304-b77b-e1fdc48f5d73","name":"WikiTests000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/a4bc5452-6c36-4304-b77b-e1fdc48f5d73","state":"wellFormed","revision":767,"visibility":"private","lastUpdateTime":"2024-12-21T11:25:21.48Z"},"defaultBranch":"refs/heads/master","size":365172,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/WikiTests000001/_git/WikiTests000002","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/WikiTests000001/WikiTests000002","webUrl":"https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_git/WikiTests000002","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f"},"project":{"href":"vstfs:///Classification/TeamProject/a4bc5452-6c36-4304-b77b-e1fdc48f5d73"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_git/WikiTests000002"},"ssh":{"href":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/WikiTests000001/WikiTests000002"},"commits":{"href":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f/commits"},"refs":{"href":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f/refs"},"pullRequests":{"href":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f/pullRequests"},"items":{"href":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f/items"},"pushes":{"href":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/git/repositories/f72d833c-7f8b-4501-952b-3a2d2515c21f/pushes"}},"isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 349d74b2-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349d74b2-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"mappedPath": "/", "name": "mycodewiki", "projectId": "a4bc5452-6c36-4304-b77b-e1fdc48f5d73",
      "repositoryId": "f72d833c-7f8b-4501-952b-3a2d2515c21f", "type": "codewiki",
      "version": {"version": "master"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: h[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_apis/wiki/wikis/d70c3f43-cf86-4af7-b195-686d42ee9259
  response:
    body:
      string: '{"id":"d70c3f43-cf86-4af7-b195-686d42ee9259","versions":[{"versio[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_apis/wiki/wikis/myprojectwiki
  response:
    body:
      string: '{"id":"4a8b4f73-2009-4386-9a44-71870c2aff94","versions":[{"version":"wikiMaster"}],"url":"h[...]
- request:
    body: '{"content": "This is my wiki page"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&comment=Created%20a%20wiki%20page
  response:
    body:
      string: '{"path":"/abc","order":0,"gitItemPath":"/abc.md","subPages":[],"url":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/wiki/wikis/4a8b4f73-2009-4386-9a44-71870c2aff94/pages/%2Fabc","remoteUrl":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_wiki/wikis/4a8b4f73-2009-4386-9a44-71870c2aff94?pagePath=%2Fabc","id":14,"content":"This
        is my wiki page"}'
    headers:
      activityid:
      - 8dc7b96f-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      etag:
      - '"b54c50ea0e6a2e0d96d39e21a6e7e89a541e2d03"'
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc7b96f-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "New content is here now."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - b54c50ea0e6a2e0d96d39e21a6e7e89a541e2d03
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&comment=Updated%20the%20page%20using%20Azure%20DevOps%20CLI
  response:
    body:
      string: '{"path":"/abc","order":0,"gitItemPath":"/abc.md","subPages":[],"url":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/wiki/wikis/4a8b4f73-2009-4386-9a44-71870c2aff94/pages/%2Fabc","remoteUrl":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_wiki/wikis/4a8b4f73-2009-4386-9a44-71870c2aff94?pagePath=%2Fabc","id":14,"content":"New
        content is here now."}'
    headers:
      activityid:
      - 8dc7b9f1-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      etag:
      - '"15a4f8f4595215219cd9019df815929238f804a6"'
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc7b9f1-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&includeContent=true
  response:
    body:
      string: '{"path":"/abc","order":0,"gitItemPath":"/abc.md","subPag[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&comment=Deleted%20the%20page%20using%20Azure%20DevOps%20CLI
  response:
    body:
      string: '{"path":"/abc","order":0,"gitItemPath":"/abc.md","subPages":[],"url":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_apis/wiki/wikis/4a8b4f73-2009-4386-9a44-71870c2aff94/pages/%2Fabc","remoteUrl":"https://dev.azure.com/bhaveshbhati900130/a4bc5452-6c36-4304-b77b-e1fdc48f5d73/_wiki/wikis/4a8b4f73-2009-4386-9a44-71870c2aff94?pagePath=%2Fabc","content":""}'
    headers:
      activityid:
      - 5c7fd4fc-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      etag:
      - '""'
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7fd4fc-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/WikiTests000001/_apis/wiki/wikis/myprojectwiki/pages?path=abc&includeContent=true
  response:
    body:
      string: "{\"$id\":\"1\",\"innerException\":null,\"message\":\"Wiki page \u2018/abc\u2019
        could not be found. Ensure that the path of the page is correct and the page
        exists.\",\"typeName\":\"Microsoft.TeamFoundation.Wiki.Server.WikiPageNotFoundException,
        Microsoft.TeamFoundation.Wiki.Server\",\"typeKey\":\"WikiPageNotFoundException\",\"errorCode\":0,\"eventId\":3000}"
    headers:
      activityid:
      - 8dc7b8ae-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc7b8ae-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/a4bc5452-6c36-4304-b77b-e1fdc48f5d73
  response:
    body:
      string: '{"id":"5ae4b3ea-be08-4a89-bf99-ac7b1cb1eec1","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/5ae4b3ea-be08-4a89-bf99-ac7b1cb1eec1"}'
    headers:
      activityid:
      - 349d7309-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349d7309-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
[...]
