interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/wiql/1bcb2a7e-30b0-4e49-8a1d-3ebf91219cb1
  response:
    body:
      string: '{"queryType":"flat","queryResultType":"workItem","asOf":"2024-12-21T11:15:21.103Z","columns":[{"referenceName":"System.Id","name":"ID","url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/fields/System.Id"},{"referenceName":"System.WorkItemType","name":"Work
        Item Type","url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/fields/System.WorkItemType"},{"referenceName":"System.Title","name":"Title","url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/fields/System.Title"},{"referenceName":"System.AssignedTo","name":"Assigned
        To","url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/fields/System.AssignedTo"},{"referenceName":"System.State","name":"State","url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/fields/System.State"},{"referenceName":"System.Tags","name":"Tags","url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/fields/System.Tags"}],"workItems":[{"id":11,"url":"https://dev.azure.com/bhaveshbhati900130/e4549d02-b9ac-47d1-b8bc-0a6603121e42/_apis/wit/workItems/11"}]}'
    headers:
      activityid:
      - 349ef997-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-total-count:
      - '1'
      x-vss-e2eid:
      - 349ef997-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems?ids=11&fields=System.Id%2CSystem.WorkItemType%2CSystem.Title%2CSystem.AssignedTo%2CSystem.State%2CSystem.Tags&asOf=2024-12-21T11%3A15%3A21.103Z
  response:
    body:
      string: '{"count":1,"value":[{"id":11,"rev":1,"fields":{"System.Id":11,"System.WorkItemType":"Task","System.State":"To
        Do","System.Title":"Task #1"},"url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/11"}]}'
    headers:
      activityid:
      - f47505e4-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f47505e4-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "select [System.Id], [System.WorkItemType], [System.Title], [System.AssignedTo],
      [System.State], [System.Tags] from WorkItems where [System.TeamProject] = ''WorkItemCreateShowUpdateDeleteTests''
      and [System.WorkItemType] = ''Task''"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
  [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems?ids=11&fields=System.Id%2CSystem.WorkItemType%2CSystem.Title%2CSystem.AssignedTo%2CSystem.State%2CSystem.Tags&asOf=2024-12-21T11%3A15%3A21.600Z
  response:
    body:
      string: '{"count":1,"value":[{"id":11,"rev":1,"fields":{"System.Id":11,"System.WorkItemType":"Task","System.State":"To
        Do","System.Title":"Task #1"},"url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/workItems/11"}]}'
    headers:
      activityid:
      - 349ef6b6-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ef6b6-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
