interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 5c7f7055-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7f7055-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "policyTest000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects
  response:
    body:
      string: '{"id":"df04a7a2-196c-401c-bceb-3a9178ef581a","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/df04a7a2-196c-401c-bceb-3a9178ef581a"}'
    headers:
      activityid:
      - 7b2df70f-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2df70f-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/df04a7a2-196c-401c-bceb-3a9178ef581a
  response:
    body:
      string: '{"id":"df04a7a2-196c-401c-bceb-3a9178ef581a","status":"inProgress","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/df04a7a2-196c-401c-bceb-3a9178ef581a","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/df04a7a2-196c-401c-bceb-3a9178ef581a"}}}'
    headers:
      activityid:
      - 7b2df7df-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2df7df-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/policyTest000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"dc14d17e-db6c-46b1-817e-3ecf42c20a0e","name":"policyTest000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc14d17e-db6c-46b1-817e-3ecf42c20a0e","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":726,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc14d17e-db6c-46b1-817e-3ecf42c20a0e"},"collection":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projectCollections/53d326e6-140a-4ae7-a550-33ce71119884"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/policyTest000001"}},"visibility":"private","defaultTeam":{"id":"3d580656-46be-4fa1-a5e3-44fb51e1a7e1","name":"policyTest000001
        Team","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/teams/3d580656-46be-4fa1-a5e3-44fb51e1a7e1"},"lastUpdateTime":"2024-12-21T11:23:49.223Z"}'
    headers:
      activityid:
      - 8dc7d8d7-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc7d8d7-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "policyTest000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/git/repositories
  response:
    body:
      string: '{"id":"dd48ab90-7792-403d-97a3-b8b75f0cb8a4","name":"policyTest000002","url":"https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/git/repositories/dd48ab90-7792-403d-97a3-b8b75f0cb8a4","project":{"id":"dc14d17e-db6c-46b1-817e-3ecf42c20a0e","name":"policyTest000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc14d17e-db6c-46b1-817e-3ecf42c20a0e","state":"wellFormed","revision":726,"visibility":"private","lastUpdateTime":"2024-12-21T11:23:49.223Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/policyTest000001/_git/policyTest000002","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/policyTest000001/policyTest000002","webUrl":"https://dev.azure.com/bhaveshbhati900130/policyTest000001/_git/policyTest000002","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 8dc7d716-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc7d716-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://github.com/hkasera/snakes-and-ladders.git"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/git/repositories/dd48ab90-7792-403d-97a3-b8b75f0cb8a4/importRequests
  response:
    body:
      string: '{"importRequestId":24,"repository":{"id":"dd48ab90-7792-403d-97a3-b8b75f0cb8a4","name":"policyTest000002","url":"https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/git/repositories/dd48ab90-7792-403d-97a3-b8b75f0cb8a4","project":{"id":"dc14d17e-db6c-46b1-817e-3ecf42c20a0e","name":"policyTest000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc14d17e-db6c-46b1-817e-3ecf42c20a0e","state":"wellFormed","revision":726,"visibility":"private","lastUpdateTime":"2024-12-21T11:23:49.223Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/policyTest000001/_git/policyTest000002","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/policyTest000001/policyTest000002","webUrl":"https://dev.azure.com/bhaveshbhati900130/policyTest000001/_git/policyTest000002","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://github.com/hkasera/snakes-and-ladders.git","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/git/repositories/dd48ab90-7792-403d-97a3-b8b75f0cb8a4/importRequests/24"},"repository":{"href":"https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/git/repositories/dd48ab90-7792-403d-97a3-b8b75f0cb8a4"}},"url":"https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/git/repositories/dd48ab90-7792-403d-97a3-b8b75f0cb8a4/importRequests/24"}'
    headers:
      activityid:
      - 5c7f743b-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7f743b-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/git/repositories/dd48ab90-7792-403d-97a3-b8b75f0cb8a4/importRequests/24
  response:
    body:
      string: '{"importRequestId":24,"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/policy/configurations
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - 349ccc35-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ccc35-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"type": {"id": "fa4e907d-c16b-4a4c-9dfa-4916e5d171ab"}, "isBlocking":
      true, "isEnabled": true, "settings": {"scope": [{"repositoryId": "dd48ab90-7792-403d-97a3-b8b75f0cb8a4",
      "refName": "refs/heads/master", "matchKind": "exact"}], "useSquashMerge": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/policy/configurations
  response:
    body:
      string: '{"createdBy":{"displayName":"Bhavesh Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_api/_common/identityImage?id=b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"createdDate":"2024-12-21T11:23:56.4737455","isEnabled":true,"isBlocking":true,"isDeleted":false,"settings":{"scope":[{"refName":"refs/heads/master","matchKind":"Exact","repositoryId":"dd48ab90-7792-403d-97a3-b8b75f0cb8a4"}]},"isEnterpriseManaged":false,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/policy/configurations/14"},"policyType":{"href":"https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/policy/types/fa4e907d-c16b-4a4c-9dfa-4916e5d171ab"}},"revision":1,"id":14,"url":"https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/policy/configurations/14","type":{"id":"fa4e907d-c16b-4a4c-9dfa-4916e5d171ab","url":"https://dev.azure.com/bhaveshbhati900130/dc14d17e-db6c-46b1-817e-3ecf42c20a0e/_apis/policy/types/fa4e907d-c16b-4a4c-9dfa-4916e5d171ab","displayName":"Require
        a merge strategy"}}'
    headers:
      activityid:
      - 349ccc16-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ccc16-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/policyTest000001/_apis/policy/configurations/14
  response:
    body:
      string: '{"createdBy":{"displayName":"Bhavesh Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_api/_common/identityImage?id=b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"createdDate":"2024-12-21T11:23:56.4737455Z","isEnabled":true,"isBlocking":true,"isDeleted":false,"settings":[...]
{"scope": [{"repositoryId": "dd48ab90-7792-403d-97a3-b8b75f0cb8a4",
      "refName": "refs/heads/master", "matchKind": "Exact"}], "allowSquash": false,
      "allowRebase": true, "allowRebaseMerge": false, "allowNoFastForward": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PUT
    uri: https://dev.azure.com/bhaveshbhati900130/policyTest000001/_apis/policy/configurations/14
  response:
    body:
      string: '{"createdBy":{"displayName":"Bhavesh Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-30[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc14d17e-db6c-46b1-817e-3ecf42c20a0e
  response:
    body:
      string: '{"id":"d9fb1522-3b18-4948-89b2-28d1426fe415","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/d9fb1522-3b18-4948-89b2-28d1426fe415"}'
    headers:
      activityid:
      - 7b2d9aec-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2d9aec-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/d9fb1522-3b18-4948-89b2-28d1426fe415
  response:
    body:
      string: '{"id":"d9fb1522-3b18-4948-89b2-28d1426fe415","status":"succeeded","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/d9fb1522-3b18-4948-89b2-28d1426fe415","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/d9fb1522-3b18-4948-89b2-28d1426fe415"}}}'
    headers:
      activityid:
      - 5c7f1389-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7f1389-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
