interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - f475d27d-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f475d27d-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "IterationProj_000001", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects
  response:
    body:
      string: '{"id":"f4970994-c684-4f63-950f-dafd40a8eb52","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/f4970994-c684-4f63-950f-dafd40a8eb52"}'
    headers:
      activityid:
      - 349ea57d-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ea57d-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/f4970994-c684-4f63-950f-dafd40a8eb52
  response:
    body:
      string: '{"id":"f4970994-c684-4f63-950f-dafd40a8eb52","status":"inProgress","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/f4970994-c684-4f63-950f-dafd40a8eb52","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/f4970994-c684-4f63-950f-dafd40a8eb52"}}}'
    headers:
      activityid:
      - f475d5b3-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f475d5b3-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/IterationProj_000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"7e163cac-0582-4ceb-b4a2-114bf9057737","name":"IterationProj_000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/7e163cac-0582-4ceb-b4a2-114bf9057737","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":631,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/7e163cac-0582-4ceb-b4a2-114bf9057737"},"collection":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projectCollections/53d326e6-140a-4ae7-a550-33ce71119884"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/IterationProj_000001"}},"visibility":"private","defaultTeam":{"id":"e4f798e3-eb95-4df3-b105-edf7309138e6","name":"IterationProj_000001
        Team","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/7e163cac-0582-4ceb-b4a2-114bf9057737/teams/e4f798e3-eb95-4df3-b105-edf7309138e6"},"lastUpdateTime":"2024-12-21T11:14:44.14Z"}'
    headers:
      activityid:
      - 8dd96157-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dd96157-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/IterationProj_000001/_apis/wit/classificationNodes/iterations?$depth=1
  response:
    body:
      string: '{"id":274,"identifier":"62d6f777-2bfd-47a9-97c9-f09b766c79f2","name":"IterationProj_000001","structureType":"iteration","hasChildren":true,"children":[{"id":276,"identifier":"eb9034ad-a85e-4c45-9316-ffe2ba55f8df","name":"Sprint
        1","structureType":"iteration","hasChildren":false,"path":"\\IterationProj_000001\\Iteration\\Sprint
        1","url":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/_apis/wit/classificationNodes/Iterations/Sprint%201"}],"path":"\\IterationProj_000001\\Iteration","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/_apis/wit/classificationNodes/Iterations"}},"url":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/_apis/wit/classificationNodes/Iterations"}'
    headers:
      activityid:
      - 5c70a552-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c70a552-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "teamName1_000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/IterationProj_000001/teams
  response:
    body:
      string: '{"id":"9eb848c3-b814-4a8d-8741-7c660b253d10","name":"teamName1_000002","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/7e163cac-0582-4ceb-b4a2-114bf9057737/teams/9eb848c3-b814-4a8d-8741-7c660b253d10","description":"","identityUrl":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/9eb848c3-b814-4a8d-8741-7c660b253d10","projectName":"IterationProj_000001","projectId":"7e163cac-0582-4ceb-b4a2-114bf9057737","identity":{"id":"9eb848c3-b814-4a8d-8741-7c660b253d10","descriptor":"Microsoft.TeamFoundation.Identity;S-1-9-1551374245-2889619070-2181425996-3030520139-4177884983-1-1096452438-375449928-3134376843-3666797349","subjectDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0yODg5NjE5MDcwLTIxODE0MjU5OTYtMzAzMDUyMDEzOS00MTc3ODg0OTgzLTEtMTA5NjQ1MjQzOC0zNzU0NDk5MjgtMzEzNDM3Njg0My0zNjY2Nzk3MzQ5","providerDisplayName":"[IterationProj_000001]\\teamName1_000002","isActive":true,"isContainer":true,"members":[],"memberOf":[],"masterId":"9eb848c3-b814-4a8d-8741-7c660b253d10","properties":{"Microsoft.TeamFoundation.Team":{"$type":"System.Boolean","$value":true},"SchemaClassName":{"$type":"System.String","$value":"Group"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"vstfs:///Classification/TeamProject/7e163cac-0582-4ceb-b4a2-114bf9057737"},"Account":{"$type":"System.String","$value":"teamName1_000002"},"SecurityGroup":{"$type":"System.String","$value":"SecurityGroup"},"SpecialType":{"$type":"System.String","$value":"Generic"},"ScopeId":{"$type":"System.String","$value":"42081231-4524-4d03-bd62-5637ed986444"},"ScopeType":{"$type":"System.String","$value":"TeamProject"},"LocalScopeId":{"$type":"System.String","$value":"7e163cac-0582-4ceb-b4a2-114bf9057737"},"SecuringHostId":{"$type":"System.String","$value":"d4f9b754-309e-4cac-92bd-3ebc6ef4d5a3"},"ScopeName":{"$type":"System.String","$value":"IterationProj_000001"},"VirtualPlugin":{"$type":"System.String","$value":""}},"resourceVersion":2,"metaTypeId":255}}'
    headers:
      activityid:
      - 349ea16b-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ea16b-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"attributes": {}, "name": "teamName1_000002_Root_Itr_000003"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/IterationProj_000001/_apis/wit/classificationNodes/iterations
  response:
    body:
      string: '{"id":278,"identifier":"d3383fb6-9a15-4898-a761-ee18f0cc38ec","name":"teamName1_000002_Root_Itr_000003","structureType":"iteration","hasChildren":false,"path":"\\IterationProj_000001\\Iteration\\teamName1_000002_Root_Itr_000003","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003"},"parent":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/_apis/wit/classificationNodes/Iterations"}},"url":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003"}'
    headers:
      activityid:
      - 349ea10f-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      location:
      - https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ea10f-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/IterationProj_000001/_apis/wit/classificationNodes?$depth=0
  response:
    body:
      string: '{"count":2,"value":[{"id":277,"identifier":"b49d9c74-add6-4c6e-b43c-5ea807af3e[...]
- request:
    body: '{"attributes": {}, "name": "Child_Itr_000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/IterationProj_000001/_apis/wit/classificationNodes/iterations/%5CteamName1_000002_Root_Itr_000003
  response:
    body:
      stri[...]
[...]
- request:
    body: '{"attributes": {"startDate": "2019-06-17T00:00:00", "finishDate": "2019-06-28T00:00:00"},
      "name": "Child_Itr_000005"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/IterationProj_000001/_apis/wit/classificationNodes/iterations/%5CteamName1_000002_Root_Itr_000003
  response:
    body:
      string: '{"id"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/IterationProj_000001/_apis/wit/classificationNodes?ids=279
  response:
    body:
      string: '{"count":1,"value":[{"id":279,"identifier":"ac0e0c87-bcc7-4567-9fd2-0deb2d06bc9[...]
[...]
- request:
    body: '{"id": 280}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/IterationProj_000001/_apis/wit/classificationNodes/iterations/%5CteamName1_000002_Root_Itr_000003%5CChild_Itr_000004
  response:
    body:
      string: '{"id":280,"[...]
[...]
- request:
    body: '{"url": "https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003/Child_Itr_000004",
      "_links": {}, "attributes": {}, "hasChildren": true, "id": 279, "identifier":
      "ac0e0c87-bcc7-4567-9fd2-0deb2d06bc9d", "name": "Child_Itr_000004", "structureType":
      "iteration"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
 [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations
  response:
    body:
      string: '{"count":0,"value":[]}'
    headers:
      activityid:
      - f475dac9-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f475dac9-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "d3383fb6-9a15-4898-a761-ee18f0cc38ec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"TF400497: The backlog iteration
        path that you specified is no longer valid.","typeName":"Microsoft.Azure.Boards.Agile.Common.Exceptions.InvalidTeamSettingsException,
        Microsoft.Azure.Boards.Agile.Common","typeKey":"InvalidTeamSettingsException","errorCode":0,"eventId":3000}'
    headers:
      activityid:
      - 349e9f56-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349e9f56-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/IterationProj_000001/teamName1_000002/_apis/work/teamsettings
  response:
    body:
      string: '{"backlogIteration":{"id":"00000000-0000-0000-0000-000000000000"},"bugsBehavior":"off","workingDays":["monday","tuesday","wednesday","thursday","friday"],"backlogVisibilities":{"Microsoft.EpicCategory":true,"Microsoft.RequirementCategory":true},"defaultIteration":null,"defaultIterationMacro":"@currentIteration","url":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/9eb848c3-b814-4a8d-8741-7c660b253d10/_apis/work/teamsettings","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/9eb848c3-b814-4a8d-8741-7c660b253d10/_apis/work/teamsettings"},"project":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/7e163cac-0582-4ceb-b4a2-114bf9057737"},"team":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/7e163cac-0582-4ceb-b4a2-114bf9057737/teams/9eb848c3-b814-4a8d-8741-7c660b253d10"},"teamIterations":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/9eb848c3-b814-4a8d-8741-7c660b253d10/_apis/work/teamsettings/iterations"},"teamFieldValues":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/9eb848c3-b814-4a8d-8741-7c660b253d10/_apis/work/teamsettings/teamfieldvalues"}}}'
    headers:
      activityid:
      - 5c70a809-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c70a809-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "ac0e0c87-bcc7-4567-9fd2-0deb2d06bc9d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations
  response:
    body:
      string: '{"id":"ac0e0c87-bcc7-4567-9fd2-0deb2d06bc9d","name":"Child_Itr_000004","path":"IterationProj_000001\\teamName1_000002_Root_Itr_000003\\Child_Itr_000004","attributes":{"startDate":null,"finishDate":null,"timeFrame":"current"},"url":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/9eb848c3-b814-4a8d-8741-7c660b253d10/_apis/work/teamsettings/iterations/ac0e0c87-bcc7-4567-9fd2-0deb2d06bc9d","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/9eb848c3-b814-4a8d-8741-7c660b253d10/_apis/work/teamsettings/iterations/ac0e0c87-bcc7-4567-9fd2-0deb2d06bc9d"},"project":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/7e163cac-0582-4ceb-b4a2-114bf9057737"},"team":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/7e163cac-0582-4ceb-b4a2-114bf9057737/teams/9eb848c3-b814-4a8d-8741-7c660b253d10"},"teamSettings":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/9eb848c3-b814-4a8d-8741-7c660b253d10/_apis/work/teamsettings"},"teamIterations":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/9eb848c3-b814-4a8d-8741-7c660b253d10/_apis/work/teamsettings/iterations"},"capacity":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/9eb848c3-b814-4a8d-8741-7c660b253d10/_apis/work/teamsettings/iterations/ac0e0c87-bcc7-4567-9fd2-0deb2d06bc9d/capacities"},"workitems":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/9eb848c3-b814-4a8d-8741-7c660b253d10/_apis/work/teamsettings/iterations/ac0e0c87-bcc7-4567-9fd2-0deb2d06bc9d/workitems"},"classificationNode":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/_apis/wit/classificationNodes/Iterations/teamName1_000002_Root_Itr_000003/Child_Itr_000004"},"teamDaysOff":{"href":"https://dev.azure.com/bhaveshbhati900130/7e163cac-0582-4ceb-b4a2-114bf9057737/9eb848c3-b814-4a8d-8741-7c660b253d10/_apis/work/teamsettings/iterations/ac0e0c87-bcc7-4567-9fd2-0deb2d06bc9d/teamdaysoff"}}}'
    headers:
      activityid:
      - 5c70a96e-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c70a96e-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/IterationProj_000001/teamName1_000002/_apis/work/teamsettings/iterations/ac0e0c87-bcc7-4567-9fd2-0deb2d06bc9d
  response:
    body:
      string: ''
    headers:
      activityid:
      - 5c714ec9-2a60-4b49-a5a0-4495d331972e
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c714ec9-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/7e163cac-0582-4ceb-b4a2-114bf9057737
  response:
    body:
      string: '{"id":"8c9f2a48-b49a-4ee5-b914-7c40cc434e37","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/8c9f2a48-b49a-4ee5-b914-7c40cc434e37"}'
    headers:
      activityid:
      - 5c714fad-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c714fad-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/8c9f2a48-b49a-4ee5-b914-7c40cc434e37
  response:
    body:
      string: '{"id":"8c9f2a48-b49a-4ee5-b914-7c40cc434e37","status":"succeeded","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/8c9f2a48-b49a-4ee5-b914-7c40cc434e37","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/8c9f2a48-b49a-4ee5-b914-7c40cc434e37"}}}'
    headers:
      activityid:
      - f4750591-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f4750591-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
