interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/buildtests/_apis/build/Definitions?name=BuildTests%20Definition1
  response:
    body:
      string: '{"count":1,"value":[{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Definitions/2?revision=2"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_build/definition?definitionId=2"},"editor":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_build/designer?id=2&_a=edit-build-definition"},"badge":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/status/2"}},"quality":"definition","authoredBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"drafts":[],"queue":{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/build/Queues/153"}},"id":153,"name":"Azure
        Pipelines","url":"https://dev.azure.com/bhaveshbhati900130/_apis/build/Queues/153","pool":{"id":9,"name":"Azure
        Pipelines","isHosted":true}},"id":2,"name":"BuildTests Definition1","url":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Definitions/2?revision=2","uri":"vstfs:///Build/Definition/2","path":"\\","type":"build","queueStatus":"enabled","revision":2,"createdDate":"2024-12-21T04:40:51.093Z","project":{"id":"dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","name":"buildtests","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","state":"wellFormed","revision":174,"visibility":"private","lastUpdateTime":"2024-12-20T16:59:12.807Z"}}]}'
    headers:
      activityid:
      - 349cee45-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349cee45-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"definition": {"id": 2}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/buildtests/_apis/build/Builds
  response:
    body:
      string: '{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Builds/24"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_build/results?buildId=24"},"sourceVersionDisplayUri":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/builds/24/sources"},"timeline":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/builds/24/Timeline"},"badge":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/status/2"}},"properties":{},"tags":[],"validationResults":[],"plans":[{"planId":"b90fc7ce-470f-47d4-ac4d-f0eddd78568b"}],"triggerInfo":{},"id":24,"buildNumber":"20241221.11","status":"notStarted","queueTime":"2024-12-21T11:23:21.7628557Z","url":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Builds/24","definition":{"drafts":[],"id":2,"name":"BuildTests
        Definition1","url":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/Definitions/2?revision=2","uri":"vstfs:///Build/Definition/2","path":"\\","type":"build","queueStatus":"enabled","revision":2,"project":{"id":"dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","name":"buildtests","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","state":"wellFormed","revision":174,"visibility":"private","lastUpdateTime":"2024-12-20T16:59:12.807Z"}},"buildNumberRevision":11,"project":{"id":"dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","name":"buildtests","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c","state":"wellFormed","revision":174,"visibility":"private","lastUpdateTime":"2024-12-20T16:59:12.807Z"},"uri":"vstfs:///Build/Build/24","sourceBranch":"refs/heads/main","sourceVersion":"3ad447cc1637b1354eee6fef87128c95833148c9","queue":{"id":153,"name":"Azure
        Pipelines","pool":{"id":9,"name":"Azure Pipelines","isHosted":true}},"priority":"normal","reason":"manual","requestedFor":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"requestedBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"lastChangedDate":"2024-12-21T11:23:21.85Z","lastChangedBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"orchestrationPlan":{"planId":"b90fc7ce-470f-47d4-ac4d-f0eddd78568b"},"logs":{"id":0,"type":"Container","url":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/_apis/build/builds/24/logs"},"repository":{"id":"cf8847e7-ad64-4baa-9b3b-8f9412d23701","type":"TfsGit","name":"buildtests","url":"https://dev.azure.com/bhaveshbhati900130/buildtests/_git/buildtests","clean":null,"checkoutSubmodules":false},"keepForever":false,"retainedByRelease":false,"triggeredByBuild":null,"appendCommitMessageToRunName":true}'
    headers:
      activityid:
      - 349cee37-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349cee37-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/buildtests/_apis/build/Builds/24
  response:
    body:
      string: '{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4fcb-f2df-41c7-a2ae-01585a4f061c/[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/buildtests/_apis/build/Builds?definitions=2
  response:
    body:
      string: '{"count":11,"value":[{"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/dc9d4[...]
