interactions:
- request:
    body: '{"name": "PhtYkVev"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_apis/git/repositories
  response:
    body:
      string: '{"id":"281c0bb6-2801-47f2-8972-e15a9d23635a","name":"PhtYkVev","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a","project":{"id":"22ffdd4f-50ca-4b48-a296-32c194e1c202","name":"PullRequestLiveTest","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/22ffdd4f-50ca-4b48-a296-32c194e1c202","state":"wellFormed","revision":346,"visibility":"private","lastUpdateTime":"2024-12-21T04:50:47.54Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_git/PhtYkVev","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/PullRequestLiveTest/PhtYkVev","webUrl":"https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_git/PhtYkVev","isDisabled":false,"isInMaintenance":false}'
    headers:
      activityid:
      - 7b2d9c54-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2d9c54-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: '{"parameters": {"deleteServiceEndpointAfterImportIsDone": false, "gitSource":
      {"overwrite": false, "url": "https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/importRequests
  response:
    body:
      string: '{"importRequestId":25,"repository":{"id":"281c0bb6-2801-47f2-8972-e15a9d23635a","name":"PhtYkVev","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a","project":{"id":"22ffdd4f-50ca-4b48-a296-32c194e1c202","name":"PullRequestLiveTest","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/22ffdd4f-50ca-4b48-a296-32c194e1c202","state":"wellFormed","revision":346,"visibility":"private","lastUpdateTime":"2024-12-21T04:50:47.54Z"},"size":0,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_git/PhtYkVev","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/PullRequestLiveTest/PhtYkVev","webUrl":"https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_git/PhtYkVev","isDisabled":false,"isInMaintenance":false},"parameters":{"tfvcSource":null,"gitSource":{"url":"https://dev.azure.com/devops-cli-test-org/TestSupportProject/_git/snakes-and-ladders","overwrite":false}},"status":"queued","detailedStatus":{"currentStep":1,"allSteps":["Processing
        request","Analyzing repository objects","Storing objects","Storing index file","Updating
        references","Import completed successfully"]},"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/importRequests/25"},"repository":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a"}},"url":"https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/importRequests/25"}'
    headers:
      activityid:
      - 7b2d9c6e-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2d9c6e-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/importRequests/25
  response:
    body:
      string: '{"importRequestId":25,"repository":{"id"[...]
[...]
- request:
    body: '{"description": "Sample PR description", "reviewers": [], "sourceRefName":
      "refs/heads/testbranch", "targetRefName": "refs/heads/main", "title": "Fixing
      a bug in cli engine"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/pullRequests
  response:
    body:
      string: '{"repository":{"id":"281c0bb6-2801-47f2-8972-e15a9d23635a","name":"PhtYkVev","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a","project":{"id":"22ffdd4f-50ca-4b48-a296-32c194e1c202","name":"PullRequestLiveTest","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/22ffdd4f-50ca-4b48-a296-32c194e1c202","state":"wellFormed","revision":346,"visibility":"private","lastUpdateTime":"2024-12-21T04:50:47.54Z"},"size":1602,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_git/PhtYkVev","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/PullRequestLiveTest/PhtYkVev","webUrl":"https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_git/PhtYkVev","isDisabled":false,"isInMaintenance":false},"pullRequestId":6,"codeReviewId":6,"status":"active","createdBy":{"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_api/_common/identityImage?id=b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","descriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"},"creationDate":"2024-12-21T11:24:26.7245524Z","title":"Fixing
        a bug in cli engine","description":"Sample PR description","sourceRefName":"refs/heads/testbranch","targetRefName":"refs/heads/main","mergeStatus":"queued","isDraft":false,"mergeId":"bb64a808-8b95-4c2d-9773-d628c0251492","lastMergeSourceCommit":{"commitId":"994b4ee248ede8b1d046da3dfd729af05410429c","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/commits/994b4ee248ede8b1d046da3dfd729af05410429c"},"lastMergeTargetCommit":{"commitId":"6c396801caff9a262bdd7e16127365d827811a0f","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/commits/6c396801caff9a262bdd7e16127365d827811a0f"},"reviewers":[],"labels":[],"url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/pullRequests/6","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/pullRequests/6"},"repository":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a"},"workItems":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/pullRequests/6/workitems"},"sourceBranch":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/refs/heads/testbranch"},"targetBranch":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/refs/heads/main"},"statuses":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/pullRequests/6/statuses"},"sourceCommit":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/commits/994b4ee248ede8b1d046da3dfd729af05410429c"},"targetCommit":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/commits/6c396801caff9a262bdd7e16127365d827811a0f"},"createdBy":{"href":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba"},"iterations":{"href":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/pullRequests/6/iterations"}},"supportsIterations":true,"artifactId":"vstfs:///Git/PullRequestId/22ffdd4f-50ca-4b48-a296-32c194e1c202%2f281c0bb6-2801-47f2-8972-e15a9d23635a%2f6"}'
    headers:
      activityid:
      - 349d2ebb-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349d2ebb-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/git/pullRequests/6
  response:
    body:
      string: '{"repository":{"id":"281c0bb6-2801-47f2-8972-e15a9d23635a","name":"PhtYkVev","url":"https://dev.azure.com/bhavesh[...]
- request:
    body: '{"description": "This should be the pr description"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_apis/git/repositories/PhtYkVev/pullRequests/6
  response:
    body:
      string: '{"repository":{"id"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/pullRequests?searchCriteria.includeLinks=False
  response:
    body:
      string: '{"value":[{"repository":{"id":"281c0bb6-2801-47f2-8972-e15a9d23635a","name":"PhtYkVev","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a","project":{"id":"22ffdd4f-50ca-4b48-a296-32c194e1c202","name":"PullRequestLiveTest","state":"unchanged","visibility":"unchanged","lastUpdateTime":"0001-01-01T00:00:00"}},"pullRequestId":6,"codeReviewId":6,"status":"active","createdBy":{"displayName":"Bhavesh
        Bhati","u[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/pullRequests/6?includeCommits=false&includeWorkItemRefs=true
  response:
    b[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://vssps.dev.azure.com/bhaveshbhati900130/_apis/Identities?searchFilter=General&filterValue=bhaveshbhati90%40outlook.com
  response:
    body:
      string: '{"count":1,"value":[{"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;0003000183A1B2F6@Live.com","subjectDescriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","providerDisplayName":"Bhavesh
        Bhati","isActive":true,"members":[],"memberOf":[],"memberIds":[],"properties":{"SchemaClassName":{"$type":"System.String","$value":"User"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"Windows
        Live ID"},"Account":{"$type":"System.String","$value":"bhaveshbhati90@outlook.com"},"DN":{"$type":"System.String","$value":""},"Mail":{"$type":"System.String","$value":"bhaveshbhati90@outlook.com"},"SpecialType":{"$type":"System.String","$value":"Generic"},"PUID":{"$type":"System.String","$value":"0003000183A1B2F6"},"ComplianceValidated":{"$type":"System.DateTime","$value":"2024-12-21T00:00:00Z"},"MetadataUpdateDate":{"$type":"System.DateTime","$value":"2024-10-02T15:53:43.53Z"}},"resourceVersion":2,"metaTypeId":255}]}'
    headers:
      activityid:
      - 0288caa3-3ceb-4019-b8e5-d730f05ceeb4
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - d811742c-96a7-4e65-9d2e-f0473fd5d8a3
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 0288caa3-3ceb-4019-b8e5-d730f05ceeb4
      x-vss-senderdeploymentid:
      - dc23afe4-07dd-489d-8cb5-e2597f346f09
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '[{"id": "b74afd16-9f1e-62ef-97c3-d8ba49a8fcba"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/pullRequests/6/reviewers
  response:
    body:
      string: '{"count":1,"value":[{"reviewerUrl":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/pullRequests/6/reviewers/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","vote":0,"hasDeclined":false,"isFlagged":false,"displayName":"Bhavesh
        Bhati","url":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","_links":{"avatar":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/GraphProfile/MemberAvatars/msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh"}},"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","uniqueName":"bhaveshbhati90@outlook.com","imageUrl":"https://dev.azure.com/bhaveshbhati900130/_api/_common/identityImage?id=b74afd16-9f1e-62ef-97c3-d8ba49a8fcba"}]}'
    headers:
      activityid:
      - 8dc7efcd-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dc7efcd-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/pullRequests/6/reviewers/b74afd16-9f1e-62ef-97c3-d8ba49a8fcba
  response:
    body:
      string: ''
    headers:
      activityid:
      - 5c7f1d76-2a60-4b49-a5a0-4495d331972e
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7f1d76-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/ConnectionData
  response:
    body:
      string: '{"authenticatedUser":{"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;0003000183A1B2F6@Live.com","subjectDescriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","providerDisplayName":"Bhavesh
        Bhati","isActive":true,"properties":{"Account":{"$type":"System.String","$value":"bhaveshbhati90@outlook.com"}},"resourceVersion":2,"metaTypeId":255},"authorizedUser":{"id":"b74afd16-9f1e-62ef-97c3-d8ba49a8fcba","descriptor":"Microsoft.IdentityModel.Claims.ClaimsIdentity;0003000183A1B2F6@Live.com","subjectDescriptor":"msa.Yjc0YWZkMTYtOWYxZS03MmVmLTk3YzMtZDhiYTQ5YThmY2Jh","providerDisplayName":"Bhavesh
        Bhati","isActive":true,"properties":{"Account":{"$type":"System.String","$value":"bhaveshbhati90@outlook.com"}},"resourceVersion":2,"metaTypeId":255},"instanceId":"53d326e6-140a-4ae7-a550-33ce71119884","deploymentId":"ed30ce5c-9d0a-f73c-3580-4315c7f84d83","deploymentType":"hosted","locationServiceData":{"serviceOwner":"00025394-6065-48ca-87d9-7f5672854ef7","defaultAccessMappingMoniker":"PublicAccessMapping","lastChangeId":424108058,"lastChangeId64":424108058}}'
    headers:
      activityid:
      - 7b2d85fd-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0-preview.1
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b2d85fd-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"lastMergeSourceCommit": {"commitId": "994b4ee248ede8b1d046da3dfd729af05410429c",
      "url": "https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a/commits/994b4ee248ede8b1d046da3dfd729af05410429c"},
      "status": "completed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_apis/git/repositories/281c0bb6-2801-47f2-8972-e15a9d23635a
  response:
    body:
      string: ''
    headers:
      activityid:
      - f47758b7-22a8-4dfc-939d-7d39b3cb0d04
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f47758b7-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_apis/git/repositories
  response:
    body:
      string: '{"value":[{"id":"aca0d31c-75aa-4940-b316-123a1b40f3b2","name":"PullRequestLiveTest","url":"https://dev.azure.com/bhaveshbhati900130/22ffdd4f-50ca-4b48-a296-32c194e1c202/_apis/git/repositories/aca0d31c-75aa-4940-b316-123a1b40f3b2","project":{"id":"22ffdd4f-50ca-4b48-a296-32c194e1c202","name":"PullRequestLiveTest","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/22ffdd4f-50ca-4b48-a296-32c194e1c202","state":"wellFormed","revision":346,"visibility":"private","lastUpdateTime":"2024-12-21T04:50:47.54Z"},"defaultBranch":"refs/heads/main","size":728,"remoteUrl":"https://bhaveshbhati900130@dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_git/PullRequestLiveTest","sshUrl":"git@ssh.dev.azure.com:v3/bhaveshbhati900130/PullRequestLiveTest/PullRequestLiveTest","webUrl":"https://dev.azure.com/bhaveshbhati900130/PullRequestLiveTest/_git/PullRequestLiveTest","isDisabled":false,"isInMaintenance":false}],"count":1}'
    headers:
      activityid:
      - 349d2b9a-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349d2b9a-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
