interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/ResourceAreas
  response:
    body:
      string: '{"count":230,"value":[{"id":"fb13a388-40dd-4a04-b530-013a739c72ef","name":"policy","locationUrl":"https://dev.azure.com/bhaveshbhati900130/"},{"id":"c73a23a1-59bb-458c-8ce3-02c83215e015","name":"Licensing","locationUrl":"https://vssps.dev.azure.com/bhaveshbhati900130/"},{"id":"6b10046c-829d-44d2-8a1d-02f88f4ff032","name":"TokenIssue","locationUrl":"https://vstoken.dev.azure.com/bhaveshbhati900130/"},{"id":"01e4817c-857e-485c-9401-0334a33200da","name":"dedup","locationUrl":"https://vsblob.dev.azure.com/bhaveshbhati900130/"},{"id":"79134c72-4a58-4b42-976c-04e7115f32bf","name":"core","location[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - f5a57cef-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      x-vss-e2eid:
      - f5a57cef-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Area1000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects
  response:
    body:
      string: '{"id":"93312d66-0275-4dcf-8e1e-6f25cc6f44d3","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/93312d66-0275-4dcf-8e1e-6f25cc6f44d3"}'
    headers:
      activityid:
      - 5da0a8aa-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      x-vss-e2eid:
      - 5da0a8aa-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/93312d66-0275-4dcf-8e1e-6f25cc6f44d3
  response:
    body:
      string: '{"id":"93312d66-0275-4dcf-8e1e-6f25cc6f44d3","status":"inProgress","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/93312d66-0275-4dcf-8e1e-6f25cc6f44d3","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/93312d66-0275-4dcf-8e1e-6f25cc6f44d3"}}}'
    headers:
      activityid:
      - f5a57c6e-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      x-vss-e2eid:
      - f5a57c6e-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/Area1000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"87516816-7645-4973-b4e7-b7ce522df852","name":"Area1000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/87516816-7645-4973-b4e7-b7ce522df852","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":847,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/87516816-7645-4973-b4e7-b7ce522df852"},"collection":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projectCollections/53d326e6-140a-4ae7-a550-33ce71119884"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/Area1000001"}},"visibility":"private","defaultTeam":{"id":"6005b861-dccb-4dfa-907c-56bdeb65129f","name":"Area1000001
        Team","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/87516816-7645-4973-b4e7-b7ce522df852/teams/6005b861-dccb-4dfa-907c-56bdeb65129f"},"lastUpdateTime":"2024-12-21T14:36:09.407Z"}'
    headers:
      activityid:
      - 8de97ee2-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      x-vss-e2eid:
      - 8de97ee2-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes/areas?$depth=1
  response:
    body:
      string: '{"id":370,"identifier":"7dc883c3-bbad-4d81-9106-6a13d59e8658","name":"Area1000001","structureType":"area","hasChildren":false,"path":"\\Area1000001\\Area","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/_apis/wit/classificationNodes/Areas"}},"url":"https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/_apis/wit/classificationNodes/Areas"}'
    headers:
      activityid:
      - f5a54311-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      x-vss-e2eid:
      - f5a54311-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "teamArea_000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/Area1000001/teams
  response:
    body:
      string: '{"id":"bc640fd1-d22a-4ae9-87a8-d905f7618324","name":"teamArea_000002","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/87516816-7645-4973-b4e7-b7ce522df852/teams/bc640fd1-d22a-4ae9-87a8-d905f7618324","description":"","identityUrl":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/bc640fd1-d22a-4ae9-87a8-d905f7618324","projectName":"Area1000001","projectId":"87516816-7645-4973-b4e7-b7ce522df852","identity":{"id":"bc640fd1-d22a-4ae9-87a8-d905f7618324","descriptor":"Microsoft.TeamFoundation.Identity;S-1-9-1551374245-375935367-1165390665-3035084750-1378744402-1-1108218728-3521198400-2907664434-448039667","subjectDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0zNzU5MzUzNjctMTE2NTM5MDY2NS0zMDM1MDg0NzUwLTEzNzg3NDQ0MDItMS0xMTA4MjE4NzI4LTM1MjExOTg0MDAtMjkwNzY2NDQzNC00NDgwMzk2Njc","providerDisplayName":"[Area1000001]\\teamArea_000002","isActive":true,"isContainer":true,"members":[],"memberOf":[],"masterId":"bc640fd1-d22a-4ae9-87a8-d905f7618324","properties":{"Microsoft.TeamFoundation.Team":{"$type":"System.Boolean","$value":true},"SchemaClassName":{"$type":"System.String","$value":"Group"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"vstfs:///Classification/TeamProject/87516816-7645-4973-b4e7-b7ce522df852"},"Account":{"$type":"System.String","$value":"teamArea_000002"},"SecurityGroup":{"$type":"System.String","$value":"SecurityGroup"},"SpecialType":{"$type":"System.String","$value":"Generic"},"ScopeId":{"$type":"System.String","$value":"790a66cc-6cf9-4295-93a7-99d5d1b65d06"},"ScopeType":{"$type":"System.String","$value":"TeamProject"},"LocalScopeId":{"$type":"System.String","$value":"87516816-7645-4973-b4e7-b7ce522df852"},"SecuringHostId":{"$type":"System.String","$value":"d4f9b754-309e-4cac-92bd-3ebc6ef4d5a3"},"ScopeName":{"$type":"System.String","$value":"Area1000001"},"VirtualPlugin":{"$type":"System.String","$value":""}},"resourceVersion":2,"metaTypeId":255}}'
    headers:
      activityid:
      - 354effea-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      x-vss-e2eid:
      - 354effea-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "teamArea_000002_Root_Area_000003"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes/areas
  response:
    body:
      string: '{"id":371,"identifier":"7c52bfb0-6b42-4cc3-9070-eb70e2de3d55","name":"teamArea_000002_Root_Area_000003","structureType":"area","hasChildren":false,"path":"\\Area1000001\\Area\\teamArea_000002_Root_Area_000003","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/_apis/wit/classificationNodes/Areas/teamArea_000002_Root_Area_000003"},"parent":{"href":"https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/_apis/wit/classificationNodes/Areas"}},"url":"https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/_apis/wit/classificationNodes/Areas/teamArea_000002_Root_Area_000003"}'
    headers:
      activityid:
      - 7b031bb9-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      location:
      - https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/_apis/wit/classificationNodes/Areas/teamArea_000002_Root_Area_000003
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      x-vss-e2eid:
      - 7b031bb9-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes/areas?$depth=1
  response:
    body:
      string: '{"id":370,"identifier":"7dc883c3-bbad-4d81-9106-6a13d59e8658","name":"Area1000001","structureType":"area","hasChildren":true,"children":[{"id":371,"identifier":"7c52bfb0-6b42-4cc3-9070-eb70e2de3d55","name":"teamArea_000002_Root_Area_000003","structureType":"area","hasChildren":false,"path":"\\Area1000001\\Area\\teamArea_000002_Root_Area_000003","url":"https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/_apis/wit/classificationNodes/Areas/teamArea_000002_Root_Area_000003"}],"path":"\\Area1000001\\Area","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/_apis/wit/classificationNodes/Areas"}},"url":"https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/_apis/wit/classificationNodes/Areas"}'
    headers:
      activityid:
      - 5da0af79-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      x-vss-e2eid:
      - 5da0af79-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes?$depth=0
  response:
    body:
      string: '{"count":2,"value":[{"id":370,"identifier":"7dc883c3-bbad-4d81-9106-6a13d59e8658","name[...]
- request:
    body: '{"name": "ChildArea000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes/areas/%5CteamArea_000002_Root_Area_000003
  response:
    body:
      string: '{"id":372,"identifier":"7af9[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes?ids=372
  response:
    body:
      string: '{"count":1,"value":[{"id":372,"identifier":"7af9a334-60db-4507-8395-d64cce27e831","name"[...]
[...]
- request:
    body: '{"id": 373}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes/areas/%5CteamArea_000002_Root_Area_000003%5CChildArea000004
  response:
    body:
      string: '{"id":373,"identifier":"ce[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/teamArea_000002/_apis/work/teamsettings/teamfieldvalues
  response:
    body:
      string: '{"field":{"referenceName":"System.AreaPath","url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/fields/System.AreaPath"},"defaultValue":null,"values":[],"url":"https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/bc640fd1-d22a-4ae9-87a8-d905f7618324/_apis/work/teamsettings/teamfieldvalues","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/bc640fd1-d22a-4ae9-87a8-d905f7618324/_apis/work/teamsettings/teamfieldvalues"},"project":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/87516816-7645-4973-b4e7-b7ce522df852"},"team":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/87516816-7645-4973-b4e7-b7ce522df852/teams/bc640fd1-d22a-4ae9-87a8-d905f7618324"},"teamSettings":{"href":"https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/bc640fd1-d22a-4ae9-87a8-d905f7618324/_apis/work/teamsettings"},"areaPathClassificationNodes":{"href":"https://dev.azure.com/bhaveshbhati900130/87516816-7645-4973-b4e7-b7ce522df852/_apis/wit/classificationNodes/Areas"}}}'
    headers:
      activityid:
      - f5a54566-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      x-vss-e2eid:
      - f5a54566-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"values": [{"includeChildren": false, "value": "\\Area1000001\\teamArea_000002_Root_Area_000003"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/teamArea_000002/_apis/work/teamsettings/teamfieldvalues
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"DefaultValue","typeName":"Microsoft.TeamFoundation.Work.WebApi.Exceptions.TeamFieldArgumentNullException,
        Microsoft.TeamFoundation.Work.WebApi","typeKey":"TeamFieldArgumentNullException","errorCode":0,"eventId":0}'
    headers:
      activityid:
      - 354efa71-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      x-vss-e2eid:
      - 354efa71-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/87516816-7645-4973-b4e7-b7ce522df852
  response:
    body:
      string: '{"id":"ceaa2611-b4f5-4058-98a6-2c94dfa790b9","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/ceaa2611-b4f5-4058-98a6-2c94dfa790b9"}'
    headers:
      activityid:
      - f5a547a1-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      x-vss-e2eid:
      - f5a547a1-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/ceaa2611-b4f5-4058-98a6-2c94dfa790b9
  response:
    body:
      string: '{"id":"ceaa2611-b4f5-4058-98a6-2c94dfa790b9","status":"succeeded","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/ceaa2611-b4f5-4058-98a6-2c94dfa790b9","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/ceaa2611-b4f5-4058-98a6-2c94dfa790b9"}}}'
    headers:
      activityid:
      - 354ef855-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - eca73957-fb1d-40ea-a3ea-708ce86abbdf
      x-vss-e2eid:
      - 354ef855-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
