interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name":"Basic"},{"id":"adcc42ab-9882-485e-a3ed-7678f01f66bc","description":"This
        template is flexible and will work great for most teams using Agile planning
        methods, including those practicing Scrum.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/adcc42ab-9882-485e-a3ed-7678f01f66bc","name":"Agile"},{"id":"27450541-8e31-4150-9947-dc59f998fc01","description":"This
        template is for more formal projects requiring a framework for process improvement
        and an auditable record of decisions.","isDefault":false,"type":"system","url":"https://dev.azure.com/bhaveshbhati900130/_apis/process/processes/27450541-8e31-4150-9947-dc59f998fc01","name":"CMMI"}]}'
    headers:
      activityid:
      - 5c7093c3-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7093c3-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Area1000001", "visibility": "private", "capabilities": {"versioncontrol":
      {"sourceControlType": "git"}, "processTemplate": {"templateTypeId": "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects
  response:
    body:
      string: '{"id":"d72adf86-d586-49e7-8fa3-10b57782d50d","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/d72adf86-d586-49e7-8fa3-10b57782d50d"}'
    headers:
      activityid:
      - 5c7093bc-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7093bc-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/d72adf86-d586-49e7-8fa3-10b57782d50d
  response:
    body:
      string: '{"id":"d72adf86-d586-49e7-8fa3-10b57782d50d","status":"inProgress","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/d72adf86-d586-49e7-8fa3-10b57782d50d","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/d72adf86-d586-49e7-8fa3-10b57782d50d"}}}'
    headers:
      activityid:
      - 5c70946d-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c70946d-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/Area1000001?includeCapabilities=true
  response:
    body:
      string: '{"id":"a52187a0-e6f4-4def-9878-355e3168cfa0","name":"Area1000001","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/a52187a0-e6f4-4def-9878-355e3168cfa0","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":620,"_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/a52187a0-e6f4-4def-9878-355e3168cfa0"},"collection":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projectCollections/53d326e6-140a-4ae7-a550-33ce71119884"},"web":{"href":"https://dev.azure.com/bhaveshbhati900130/Area1000001"}},"visibility":"private","defaultTeam":{"id":"06be8249-07bc-419b-94dd-6a34cffa25b0","name":"Area1000001
        Team","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/a52187a0-e6f4-4def-9878-355e3168cfa0/teams/06be8249-07bc-419b-94dd-6a34cffa25b0"},"lastUpdateTime":"2024-12-21T11:14:33.03Z"}'
    headers:
      activityid:
      - 5c70986a-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c70986a-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes/areas?$depth=1
  response:
    body:
      string: '{"id":270,"identifier":"2b46ca48-5311-4724-aa86-5d0fed7808c2","name":"Area1000001","structureType":"area","hasChildren":false,"path":"\\Area1000001\\Area","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/_apis/wit/classificationNodes/Areas"}},"url":"https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/_apis/wit/classificationNodes/Areas"}'
    headers:
      activityid:
      - 349ead7c-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ead7c-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "teamArea_000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/Area1000001/teams
  response:
    body:
      string: '{"id":"d37f26c1-45d1-4f8e-a777-2ff1d9d37165","name":"teamArea_000002","url":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/a52187a0-e6f4-4def-9878-355e3168cfa0/teams/d37f26c1-45d1-4f8e-a777-2ff1d9d37165","description":"","identityUrl":"https://spsprodcin1.vssps.visualstudio.com/Ad4f9b754-309e-4cac-92bd-3ebc6ef4d5a3/_apis/Identities/d37f26c1-45d1-4f8e-a777-2ff1d9d37165","projectName":"Area1000001","projectId":"a52187a0-e6f4-4def-9878-355e3168cfa0","identity":{"id":"d37f26c1-45d1-4f8e-a777-2ff1d9d37165","descriptor":"Microsoft.TeamFoundation.Identity;S-1-9-1551374245-2693210533-4108775245-2558014814-828952480-1-3280105065-3881636173-2677797410-1179372405","subjectDescriptor":"vssgp.Uy0xLTktMTU1MTM3NDI0NS0yNjkzMjEwNTMzLTQxMDg3NzUyNDUtMjU1ODAxNDgxNC04Mjg5NTI0ODAtMS0zMjgwMTA1MDY1LTM4ODE2MzYxNzMtMjY3Nzc5NzQxMC0xMTc5MzcyNDA1","providerDisplayName":"[Area1000001]\\teamArea_000002","isActive":true,"isContainer":true,"members":[],"memberOf":[],"masterId":"d37f26c1-45d1-4f8e-a777-2ff1d9d37165","properties":{"Microsoft.TeamFoundation.Team":{"$type":"System.Boolean","$value":true},"SchemaClassName":{"$type":"System.String","$value":"Group"},"Description":{"$type":"System.String","$value":""},"Domain":{"$type":"System.String","$value":"vstfs:///Classification/TeamProject/a52187a0-e6f4-4def-9878-355e3168cfa0"},"Account":{"$type":"System.String","$value":"teamArea_000002"},"SecurityGroup":{"$type":"System.String","$value":"SecurityGroup"},"SpecialType":{"$type":"System.String","$value":"Generic"},"ScopeId":{"$type":"System.String","$value":"13200454-2a85-48d1-b2d9-bdd194f35065"},"ScopeType":{"$type":"System.String","$value":"TeamProject"},"LocalScopeId":{"$type":"System.String","$value":"a52187a0-e6f4-4def-9878-355e3168cfa0"},"SecuringHostId":{"$type":"System.String","$value":"d4f9b754-309e-4cac-92bd-3ebc6ef4d5a3"},"ScopeName":{"$type":"System.String","$value":"Area1000001"},"VirtualPlugin":{"$type":"System.String","$value":""}},"resourceVersion":2,"metaTypeId":255}}'
    headers:
      activityid:
      - 8dd96d8c-606d-4df1-8d7d-57e5c02bb9b1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - e5a2a038-3066-4a23-912d-a3d86500bf68
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 8dd96d8c-606d-4df1-8d7d-57e5c02bb9b1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "teamArea_000002_Root_Area_000003"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes/areas
  response:
    body:
      string: '{"id":271,"identifier":"ae5241cc-0567-4f2f-828e-3acc1ea565c0","name":"teamArea_000002_Root_Area_000003","structureType":"area","hasChildren":false,"path":"\\Area1000001\\Area\\teamArea_000002_Root_Area_000003","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/_apis/wit/classificationNodes/Areas/teamArea_000002_Root_Area_000003"},"parent":{"href":"https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/_apis/wit/classificationNodes/Areas"}},"url":"https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/_apis/wit/classificationNodes/Areas/teamArea_000002_Root_Area_000003"}'
    headers:
      activityid:
      - f475cdc0-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      location:
      - https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/_apis/wit/classificationNodes/Areas/teamArea_000002_Root_Area_000003
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f475cdc0-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes/areas?$depth=1
  response:
    body:
      string: '{"id":270,"identifier":"2b46ca48-5311-4724-aa86-5d0fed7808c2","name":"Area1000001","structureType":"area","hasChildren":true,"children":[{"id":271,"identifier":"ae5241cc-0567-4f2f-828e-3acc1ea565c0","name":"teamArea_000002_Root_Area_000003","structureType":"area","hasChildren":false,"path":"\\Area1000001\\Area\\teamArea_000002_Root_Area_000003","url":"https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/_apis/wit/classificationNodes/Areas/teamArea_000002_Root_Area_000003"}],"path":"\\Area1000001\\Area","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/_apis/wit/classificationNodes/Areas"}},"url":"https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/_apis/wit/classificationNodes/Areas"}'
    headers:
      activityid:
      - 5c7099dd-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c7099dd-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes?$depth=0
  response:
    body:
      string: '{"count":2,"value":[{"id":270,"identifier":"2b46ca48-5311-4724-aa86-5d0fed7808c2","name[...]
- request:
    body: '{"name": "ChildArea000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes/areas/%5CteamArea_000002_Root_Area_000003
  response:
    body:
      string: '{"id":272,"identifier":"c905[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes?ids=272
  response:
    body:
      string: '{"count":1,"value":[{"id":272,"identifier":"c905730c-bf7d-4c26-a19c-52c131773b6a","name"[...]
[...]
- request:
    body: '{"id": 273}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/_apis/wit/classificationNodes/areas/%5CteamArea_000002_Root_Area_000003%5CChildArea000004
  response:
    body:
      string: '{"id":273,"identifier":"b6[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/teamArea_000002/_apis/work/teamsettings/teamfieldvalues
  response:
    body:
      string: '{"field":{"referenceName":"System.AreaPath","url":"https://dev.azure.com/bhaveshbhati900130/_apis/wit/fields/System.AreaPath"},"defaultValue":null,"values":[],"url":"https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/d37f26c1-45d1-4f8e-a777-2ff1d9d37165/_apis/work/teamsettings/teamfieldvalues","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/d37f26c1-45d1-4f8e-a777-2ff1d9d37165/_apis/work/teamsettings/teamfieldvalues"},"project":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/a52187a0-e6f4-4def-9878-355e3168cfa0"},"team":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/projects/a52187a0-e6f4-4def-9878-355e3168cfa0/teams/d37f26c1-45d1-4f8e-a777-2ff1d9d37165"},"teamSettings":{"href":"https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/d37f26c1-45d1-4f8e-a777-2ff1d9d37165/_apis/work/teamsettings"},"areaPathClassificationNodes":{"href":"https://dev.azure.com/bhaveshbhati900130/a52187a0-e6f4-4def-9878-355e3168cfa0/_apis/wit/classificationNodes/Areas"}}}'
    headers:
      activityid:
      - 7b330a97-07bc-4c04-8243-726de0ebb061
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 2e5c1698-5f0c-446a-8938-a9de552b8541
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 7b330a97-07bc-4c04-8243-726de0ebb061
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"values": [{"includeChildren": false, "value": "\\Area1000001\\teamArea_000002_Root_Area_000003"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: PATCH
    uri: https://dev.azure.com/bhaveshbhati900130/Area1000001/teamArea_000002/_apis/work/teamsettings/teamfieldvalues
  response:
    body:
      string: '{"$id":"1","innerException":null,"message":"DefaultValue","typeName":"Microsoft.TeamFoundation.Work.WebApi.Exceptions.TeamFieldArgumentNullException,
        Microsoft.TeamFoundation.Work.WebApi","typeKey":"TeamFieldArgumentNullException","errorCode":0,"eventId":0}'
    headers:
      activityid:
      - 5c709b82-2a60-4b49-a5a0-4495d331972e
      content-type:
      - application/json; charset=utf-8
      x-tfs-processid:
      - eba0d574-31a9-48e3-b0ab-f62b99cb9bfa
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 5c709b82-2a60-4b49-a5a0-4495d331972e
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/projects/a52187a0-e6f4-4def-9878-355e3168cfa0
  response:
    body:
      string: '{"id":"37d62aac-31be-43c5-b4ee-02472a373ba3","status":"notSet","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/37d62aac-31be-43c5-b4ee-02472a373ba3"}'
    headers:
      activityid:
      - 349ea7ee-683d-4bb0-8043-24b041d01fb1
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 32e8f428-605f-41f0-a205-68d4a819422d
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - 349ea7ee-683d-4bb0-8043-24b041d01fb1
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/bhaveshbhati900130/_apis/operations/37d62aac-31be-43c5-b4ee-02472a373ba3
  response:
    body:
      string: '{"id":"37d62aac-31be-43c5-b4ee-02472a373ba3","status":"succeeded","url":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/37d62aac-31be-43c5-b4ee-02472a373ba3","_links":{"self":{"href":"https://dev.azure.com/bhaveshbhati900130/_apis/operations/37d62aac-31be-43c5-b4ee-02472a373ba3"}}}'
    headers:
      activityid:
      - f475d25b-22a8-4dfc-939d-7d39b3cb0d04
      content-type:
      - application/json; charset=utf-8; api-version=5.0
      x-tfs-processid:
      - 5a94763c-a4c3-48a2-b2f8-c98591a1229e
      x-tfs-session:
      - 47de4097-9479-45ba-ba5c-83a658c687c9
      x-vss-e2eid:
      - f475d25b-22a8-4dfc-939d-7d39b3cb0d04
      x-vss-senderdeploymentid:
      - ed30ce5c-9d0a-f73c-3580-4315c7f84d83
      x-vss-userdata:
      - b74afd16-9f1e-62ef-97c3-d8ba49a8fcba:bhaveshbhati90@outlook.com
    status:
      code: 200
      message: OK
version: 1
